<div class="event card-toast" 
[@fadeAnimation]="{value: animationState, params:
  { fadeIn: 300, fadeOut: 300}}"
(@fadeAnimation.done)="onFadeFinished($event)">
  <!-- <div class="row"> -->
    <div class="time">
      {{data.time}}
    </div>
    <div class="icon" *ngIf="data.icon">
      <div [ngClass]="data.icon"></div>
    </div>
    <div class="col">
      <p class="type">{{data.event}}</p>      
    </div>
    <div class="team-logo" *ngIf="data.teamKit">
      <img class="img-fluid" src="{{data.teamKit}}" alt="">
    </div>
  <!-- </div> -->
</div>
