@import "~bootstrap/scss/bootstrap-grid.scss";

// @include media-breakpoint-down(sm) {
//   page-wrapper{
//     min-height: calc(100vh - 94px);
//   }
// }

// .page-wrapper{
//   min-height: calc(100vh - 94px);
//   background-color: rgba(0,0,0,0.5);
// }

.contest-pages-scrollarea{
    overflow-y: auto;
    height: calc(100vh - 180px);
    height: calc((var(--vh, 1vh) * 100) - 180px);
    -webkit-overflow-scrolling: touch;
}

