<span class="page-background-black">
  <div class="page-wrapper">
    <app-contest-info-header></app-contest-info-header>
    <!-- Router Page Placement -->
    <div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <!-- Contest Navbar -->
    <nav class="navbar fixed-bottom mobile-app-navbar">
      <a [routerLink]="['/contest',contestId,'info']" routerLinkActive="active" href="#">
        <div class="icn-info"></div>Info
      </a>
      <a [routerLink]="['/contest',contestId,'matches']" routerLinkActive="active" href="#">
        <div class="icn-match"></div>Matches
      </a>
      <a [routerLink]="['/contest',contestId,'leaders']" routerLinkActive="active" href="#">
        <div class="icn-leaders"></div>Leaders
      </a>
      <a [routerLink]="['/contest',contestId,'prizes']" routerLinkActive="active" href="#">
        <div class="icn-prize"></div>Prizes
      </a>
    </nav>
  </div>
</span>