<span class="page-background-black">
  <div class="page-wrapper">
    <app-contest-info-header></app-contest-info-header>
    <!-- Router Page Placement -->
    <div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
      <!-- <div class="contest-pages-scrollarea"> -->
      <router-outlet #o="outlet"></router-outlet>
    <!-- </div> -->
    </div>
    <!-- Contest Navbar -->
    <nav class="navbar fixed-bottom mobile-app-navbar">      
      <a *ngIf="contestId" [routerLink]="['/contest',contestId,'matches']" routerLinkActive="active" href="#">
        <div class="icn-match"></div><span translate>Matches</span>
      </a>
      <a *ngIf="contestId" [routerLink]="['/contest',contestId,'leaders']" routerLinkActive="active" href="#">
        <div class="icn-leaders"></div><span translate>Leaders</span>
      </a>
      <a *ngIf="contestId" [routerLink]="['/contest',contestId,'prizes']" routerLinkActive="active" href="#">
        <div class="icn-prize"></div><span translate>Prizes</span>
      </a>
      <a *ngIf="contestId" [routerLink]="['/contest',contestId,'info']" routerLinkActive="active" href="#">
        <div class="icn-info"></div><span translate>Info</span>
      </a>
    </nav>
  </div>
</span>
