
<div class="navbar app-navbar">
  <div class="container" style="justify-content: space-evenly">
    <a routerLink="contests" routerLinkActive="active" href="#" class="row">
      <div class=""><img src="assets/images/sportimo/icon-contests.svg" class="footer-icon"/></div>
      <span translate>Contests</span></a>
    <a routerLink="winners" routerLinkActive="active" href="#" class="row">
      <div class=""><img src="assets/images/sportimo/icon-winners.svg" class="footer-icon"/></div>
      <span translate>Winners</span></a>
    <a routerLink="achievements" routerLinkActive="active" href="#" class="row">
      <div class=""><img src="assets/images/sportimo/icon-achievements.svg" class="footer-icon"/></div>
      <span translate>Achievements</span></a>
    <a routerLink="standings" routerLinkActive="active" href="#" class="row">
      <div class=""><img src="assets/images/sportimo/icon-standings.svg" class="footer-icon"/></div>
      <span translate>Standings</span></a>
    <a *ngIf="hasNews"  routerLink="news" routerLinkActive="active" href="#" class="row">
      <div class=""><img src="assets/images/sportimo/icon-news.svg" class="footer-icon"/></div>
      <span translate>News</span></a>
    <!-- <a *ngIf="hasNews" routerLink="/main/news" routerLinkActive="active" href="#"><div class="icn-news"></div><span translate>News</span></a> -->
  </div>
</div>
<div class="">
  <router-outlet></router-outlet>
</div>
<nav class="navbar fixed-bottom mobile-app-navbar">
  <a routerLink="contests" routerLinkActive="active" href="#">
    <div class=""><img src="assets/images/sportimo/icon-contests.svg" class="footer-icon"/></div>
    <span translate>Contests</span> </a>

  <a routerLink="winners" routerLinkActive="active" href="#">
    <div class=""><img src="assets/images/sportimo/icon-winners.svg" class="footer-icon"/></div>
    <span translate>Winners</span></a>

  <a routerLink="achievements" routerLinkActive="active" href="#">
    <div class=""><img src="assets/images/sportimo/icon-achievements.svg" class="footer-icon"/></div>
    <span translate>Achievements</span></a>
    
  <a routerLink="standings" routerLinkActive="active" href="#">
    <div class=""><img src="assets/images/sportimo/icon-standings.svg" class="footer-icon"/></div>
    <span translate>Standings</span></a>

  <a *ngIf="hasNews" routerLink="news" routerLinkActive="active" href="#">
    <div class=""><img src="assets/images/sportimo/icon-news.svg" class="footer-icon"/></div>
    <span translate>News</span></a>
</nav>