<!--page-wrapper Start-->
<div class="page-wrapper" [ngClass]="[appTheme]" [class.rtl]="isRTL" >
    <app-header></app-header>
    <div *ngIf="!connectionStatus" class="connection-status" translate>network_offline</div>
    <div *ngIf="connectionRestored" class="connection-restored" translate>network_restored</div>
	<!--Page Body Start-->
    <div class="page-body-wrapper sidebar-close">
    	<div class="page-sidebar custom-scrollbar">
          <app-sidebar></app-sidebar>
       </div>
    	<div class="page-body">
           <router-outlet></router-outlet>
        </div>
    </div>
    <div class="sidebar-background hidden"></div>
    <app-subscribe-notice></app-subscribe-notice>
    <!--Page Body End-->
    <!--<app-chat-sidebar></app-chat-sidebar>-->
    <div id="LoaderTexts"  style="width:100%; text-align:center; position: absolute; top: 55%;">
        <div class="loader-texts">
            <div class="animTextL1">
                <span style="text-align: center;" >{{this.textleft}}</span>
            </div>
    
            <div class="animTextR1">
                <span style="text-align: center;" >{{this.textRight}}</span>
            </div>
            
        </div>
    </div>
    
    <app-onboard></app-onboard>
</div>



<!--page-wrapper End-->