<!--page-wrapper Start-->
<div class="page-wrapper" [ngClass]="[appTheme]" [class.rtl]="isRTL" >
    <app-header></app-header>
    <div *ngIf="!connectionStatus" class="connection-status" translate>network_offline</div>
    <div *ngIf="connectionRestored" class="connection-restored" translate>network_restored</div>
	<!--Page Body Start-->
    <div class="page-body-wrapper sidebar-close">
    	<div class="page-sidebar custom-scrollbar">
          <app-sidebar></app-sidebar>
       </div>
    	<div class="page-body">
           <router-outlet></router-outlet>
        </div>
    </div>
    <div class="sidebar-background hidden"></div>
    <app-subscribe-notice></app-subscribe-notice>
    <!--Page Body End-->
    <!--<app-chat-sidebar></app-chat-sidebar>-->
    <app-onboard></app-onboard>
</div>



<!--page-wrapper End-->