<!--page-wrapper Start-->
<div class="page-wrapper" [class.rtl]="isRTL">
	<app-header></app-header>
	<!--Page Body Start-->
    <div class="page-body-wrapper">
    	<div class="page-sidebar custom-scrollbar">
          <app-sidebar></app-sidebar>
       </div>
    	<div class="page-body">
           <router-outlet></router-outlet>
        </div>
    </div>
    <div class="sidebar-background hidden"></div>
    <app-subscribe-notice></app-subscribe-notice>
    <!--Page Body End-->
    <!--<app-chat-sidebar></app-chat-sidebar>-->
    <app-toppick></app-toppick>
</div>
<!--page-wrapper End-->