<div class="modal-card">
  <!-- (click)="preventDefault($event)" -->
  <div class="popup-card-header">
    <div class="info-header">
      <div class="info-header-top">
        
          <div style="width:30px;height:30px;" class="card-icon"
            [ngClass]="sportUtils.getIconBySprite(cardData?.image.sprite)"></div>
        
        <div class="type">{{cardData?.title[translate.currentLang]}}</div>
      </div>
      <div (click)="close()" class="isClickable modal-exit pull-right">X</div>
    </div>



    <div class="header-subtext">{{getFormatedOption(cardData.text[translate.currentLang])}}</div>
    <div class="header-subtext" *ngIf="cardData.isDoublePoints" translate>Double Points Power Up used</div>
    <div class="header-subtext" *ngIf="cardData.isDoubleTime" translate>Double Time Power Up used</div>
    <div class="card-won" *ngIf="cardData.status == 2 && cardData.wonTime" translate>Won</div>
    <div class="card-lost" *ngIf="cardData.status == 2 && !cardData.wonTime" translate>Lost</div>


  </div>
  <div class="modal-card-body">
    <div class="card-data-title" translate>Played Card at:</div>
    <div>
    <div class="card-data"> 
      <div style="width: 20px; height: 30px;"  class="power-icon icn-stopwatch">
    </div>
    <div  class="card-data-text">{{cardData?.minute}}'</div>
  </div>
</div>
    <div  class="card-data-title" translate>Server Activation time:</div>
    <div class="card-data">{{cardData.activationTime | date:"hh:mm:ss"}}</div>
    <div *ngIf="!cardData.wonTime" class="card-data-title" translate>Win event did not occur between:</div>
    <div *ngIf="!cardData.wonTime" class="card-data">{{cardData.activationTime | date:"hh:mm:ss"}} - {{cardData.terminationTime | date:"hh:mm:ss"}}</div>
    <div *ngIf="cardData.wonTime" class="card-data-title" translate>Win event occured at:</div>
    <div *ngIf="cardData.wonTime" class="card-data">{{cardData.wonTime | date:"hh:mm:ss"}}</div>
    
  </div>
  <div *ngIf="(cardData.status == 2 && !cardData.wonTime) && !contactBox" class="popup-card-header" style="text-align:center; height:100px;">
    <div style="padding-bottom: 5px;"><span translate>contact_us_info</span></div>
    <div style="text-align: center;"><button (click)="openZendesk()" class="btn btn-sportimo" translate>Contact us</button></div> 
    <!-- <div style="text-align: center;"><button (click)="openContactBox()" class="btn btn-sportimo">Why did I lose it?</button></div>     -->
  </div>
  <div *ngIf="contactBox" class="popup-card-header" style="height:200px; overflow-y: scroll;">
    <div class="contact-box-info">
      <!-- Why did I lose it?<br><br>
      The event you played a card for must occur during <span class="highlight-text">active card time</span>
      If there was a relevant event that occured around the time of your card, please do the following: <br><br>
      <ul>
        <li>&bull; Check the valid period of your card in your <span class="highlight-text">lost card tab</span></li>
        <li>&bull; Tap the event you think is relevant to your card, in the <span class="highlight-text">Match info</span> tab to reveal the <span class="highlight-text">event timestamp</span></li>        
      </ul><br>
      The event timestamp must fall exactly during the active card Time<br> -->
      <!-- <span translate>contact_us_info</span> -->
      <!-- If you still have doubts about a lost card, please contact us -->
    </div>
    <!-- <div style="text-align: center;"><button (click)="openZendesk()" class="btn btn-sportimo" translate>Contact us</button></div>     -->
  </div>
</div>