<div class="matches-list-container">
  <div class="container background-container">
    <div class="row" style="height:30px">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="all-tab" [ngClass]="{'active' : selected == 'all'}" data-toggle="tab" href="#all" role="tab" aria-controls="all"
            aria-selected="false">
            <div translate>All</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="live-tab" [ngClass]="{'active' : selected == 'live'}" data-toggle="tab" href="#live" role="tab" aria-controls="live"
            aria-selected="true">
            <div translate>LIVE</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="upcoming-tab" [ngClass]="{'active' : selected == 'upcoming'}" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming"
            aria-selected="false">
            <div translate>Upcoming</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="past-tab" [ngClass]="{'active' : selected == 'past'}" data-toggle="tab" href="#past" role="tab" aria-controls="past"
            aria-selected="false">
            <div translate>Past</div>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content row " id="myTabContent">
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab"  style="width: 100%;">
        <div class="container matches-list-scrollarea">
          <div [@staggerAnimation]="present?.length">
            <div *ngFor="let contestMatch of present; let i = index" class="match-list-item">
              <app-matches-list-item [contestMatch]='contestMatch' isClickable=true [hasJoined]='hasJoined'>
              </app-matches-list-item>
            </div>
            <div *ngFor="let contestMatch of past; let i = index" class="match-list-item">
              <app-matches-list-item [contestMatch]='contestMatch' isClickable=true [hasJoined]='hasJoined'>
              </app-matches-list-item>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="live" role="tabpanel" aria-labelledby="live-tab" style="width: 100%;">
        <div class="container matches-list-scrollarea">
          <div *ngFor="let contestMatch of liveMatches" class="match-list-item">
            <app-matches-list-item  [hasJoined]='hasJoined'
              [contestMatch]='contestMatch' isClickable=true  ></app-matches-list-item>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab" style="width: 100%;">
        <div class="container matches-list-scrollarea">
          <ul *ngFor="let contestMatch of upcomingMatches"  class="match-list-item">
            <app-matches-list-item  [contestMatch]='contestMatch'
              isClickable=true [hasJoined]='hasJoined' ></app-matches-list-item >
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab" style="width: 100%;">
        <div class="container matches-list-scrollarea">
          <ul *ngFor="let contestMatch of pastMatches" class="match-list-item" >
            <app-matches-list-item  [hasJoined]='true'
              [contestMatch]='contestMatch' isClickable=true ></app-matches-list-item>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>