@import "src/variables.scss";

.matches-list-container {
  width: 100%;
}

.matches-list-container .nav {
  display: flex;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.58);
  height: 30px;
  justify-content: space-evenly;
  width: 100%;
}

.matches-list-container .nav-item {
  flex-grow: 1;
  margin: auto;
}

.matches-list-container .nav .nav-link {
  padding: 0;
  height: 30px;
  line-height: 29px;
  border: 0;
  color: #fff;
  text-decoration: none;
}

.matches-list-container .nav .nav-link.active {
  background-color: transparent;
  padding: 0;
  border: 0;
  color: $theme-color;
  border-radius: 0;
  border-bottom: solid 2px #ffc531;
}

.matches-list-container .nav .nav-link.active div {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.matches-list-scrollarea{
  overflow-y: auto;
  height: calc(100vh - 240px);
  -webkit-overflow-scrolling: touch;
}




