@import "src/variables.scss";

// .background {
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 120%;
//   overflow: auto;
//   background-color: black;
//   background-color: rgba(0, 0, 0, 0.4);
// }

.main-pages-scrollarea {
  padding: 0;
}

.messsage-card {
  display: flex;
  flex-wrap: nowrap;
  border-top: 2px inset rgba(255, 255, 255, 0.05);
  border-bottom: 2px inset rgba(123, 123, 123, 0.05);
  background-color: RGBA(22, 31, 43, 0.8);
  padding: 15px 15px 15px 0;
  box-shadow: 0 1px 0 0px #000000;
}

.message-card-side [class^="icn-"] {
  width: 44px;
  height: 30px;
  margin: auto;
  margin-top: 3px;
}

.message-card-side {
  width: 100px;
  text-align: center;
  font-size: 30px;
  line-height: 25px;
  color: $theme-color;
  opacity: 0.3;
}

.unread .message-card-side {
  opacity: 1;
}

.dot {
  display: none;
}

.unread .dot {
  display: block;
}

.message-card-main {
  width: 100%;
}

.title {
  color: $theme-color;
  font-family: $theme-font;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
}

.date {
  color: $theme-color;
  font-family: $theme-font;
  font-size: 12px;
  letter-spacing: 0;
}

.text {
  margin-top: 5px;
  color: #ffffff;
  font-family: $theme-font;
  font-size: 12px;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .background {
    top: 50px;
  }
}