<!-- Unique Link -->
<!-- <div class="modal-background" *ngIf="!UniqueLink"></div> -->
<div *ngIf="UniqueLink" id="UniqueLink">
  <div class="modal-card2">
    <div class="modal-card-body text-center" style="padding: 0;"
      *ngIf="UniqueLinkState == 1 || UniqueLinkState == 5 || UniqueLinkState == 6">
      <!-- Verifying -->
      <div class="landing-card">
        <div class="landing-card-content text-center text-white" style="align-items: center; justify-content: center;">
          <div *ngIf="UniqueLinkState<6" class="unique-loader"></div>
          <div *ngIf="UniqueLinkState==1" style="padding: 20px;" translate>verifying_unique</div>
          <div *ngIf="UniqueLinkState==5" style="padding: 20px;" translate>verifying_process</div>
          <div *ngIf="UniqueLinkState==6" style="padding: 20px;" translate>something_wrong_retry</div>
        </div>
      </div>
    </div>
    <!-- User Unsubscribed -->
    <div class="pin-card-body text-center" *ngIf="UniqueLinkState == 2 || UniqueLinkState == 3">
      <div class="login-form-body">
        <!-- <div class="debug" style="max-height: 50px;">{{subState}}</div> -->
        <div class="pin-title">
          <h1 [innerHTML]="'susbcription_message_UNSUB' | translate:{value:appName[translate.currentLang]}"></h1>
          <!-- <h1 *ngIf = "subState == 'UNSUB'" translate>Subscribe to Play</h1>
          <h1 *ngIf = "subState == 'Active'" translate>Subscribe to Play</h1>
          <h1 *ngIf = "subState == 'UnSubCoins'" translate>Subscribe to Play</h1> -->
        </div>

        <form [formGroup]="pinForm" (ngSubmit)="onPinSubmit(false)" class="sportimo-form">
          <div class="login-form-info" translate>Please insert the 4-digit PIN code sent to your mobile number</div>
          <div class="login-form-content">
            <div class="form-group text-center">
              <!-- <label class="">Username/Email</label> -->
              <input id="pinInput" type="text" formControlName="pin" maxlength="4" minlength="4"
                class="form-control-plaintext input-box" autocorrect="off" autocapitalize="none"
                [ngClass]="{ 'is-invalid': submitted && pinForm.controls.pin.errors }"
                placeholder="{{ 'Enter PIN' | translate }}" required>
              <div *ngIf="submitted && pinForm.controls.pin.errors" class="invalid-feedback">
                <div *ngIf="pinForm.controls.pin.errors.required">PIN is required</div>
              </div>
              <div *ngIf="incorrectPin" class="problem-info">
                <div class="icn-info-alt"></div> <span translate>Incorrect PIN code</span>
              </div>
              <div *ngIf="blacklisted > 1" class="problem-info">
                <div class="icn-info-alt"></div> <span translate>Account Suspended</span>
              </div>
            </div>
          </div>
          <div class="login-form-buttons">
            <div class="form-group">
              <!-- <button [disabled]="isSubmitting || pinForm.controls.pin.errors" type="submit" class="btn btn-sportimo login-form-button"> -->
              <button [disabled]="isSubmitting || pinForm.controls.pin.errors" type="submit"
                class="btn btn-sportimo login-form-button">
                <div class="loader-label" [class.btn-active]="isSubmitting">
                  <span class="button-label"
                    [innerHTML]="'susbcription_message_UNSUB_action' | translate:{value:appName[translate.currentLang]}"></span>
                  <div class="fadeInLoader">
                    <span class="rotate dotted button-loader"></span>
                  </div>
                </div>
              </button>
            </div>
            <!-- <button [disabled]="isSubmiting" (click)="cancelAll()" class="btn btn-default">Cancel</button> -->
          </div>
          <div *ngIf="UniqueLinkState == 3" [class.grey]="isSubmitting || pinForm.controls.pin.errors"
            class="enter-button" (click)="onPinSubmit(true)"
            [innerHTML]="'susbcription_message_ENTER' | translate:{value:appName[translate.currentLang]}"></div>
          <div *ngIf="!pinSent" class="resend-pin-button isClickable" (click)="ResendPin()" translate>Resend PIN</div>
          <div *ngIf="pinSent" [innerHTML]="'pin_sent' | translate"></div>
          xaxaxa
        </form>
        <div (click)="openTerms()" class="notice isClickable" style="font-size: 10px"
          [innerHTML]="defaults.landingPage.terms[translate.currentLang]">
        </div>
      </div>
    </div>

    <!-- User Blacklisted -->
    <div class="pin-card-body text-center" *ngIf="UniqueLinkState == 4">
      <div class="login-form-body">
        <!-- <div class="debug" style="max-height: 50px;">{{subState}}</div> -->
        <div class="pin-title">
          <h1>You are Blacklisted</h1>
          <!-- <h1 [innerHTML]="'susbcription_message_UNSUB' | translate:{value:appName[translate.currentLang]}"></h1> -->
          <!-- <h1 *ngIf = "subState == 'UNSUB'" translate>Subscribe to Play</h1>
          <h1 *ngIf = "subState == 'Active'" translate>Subscribe to Play</h1>
          <h1 *ngIf = "subState == 'UnSubCoins'" translate>Subscribe to Play</h1> -->
        </div>

        <!-- <div (click)="openTerms()" class="notice isClickable" style="font-size: 10px"
          [innerHTML]="defaults.landingPage.terms[translate.currentLang]">
        </div> -->
      </div>
    </div>
  </div>
</div>







<!-- ON-BOARDING -->
<div class="modal-background" *ngIf="!Authenticated"></div>
<div *ngIf="Onboarding" id="OnBoarding">
  <div class="modal-card2">
    <div class="modal-card-body text-center" style="padding: 0;">
      <div class="slideshow-container" uk-animation-fast
        data-uk-slideshow="animation: swipe; duration:400; autoplay: false; autoplay-interval: 0; pause-on-hover: false; draggable: true; finite:true; "
        style="height: 100%;  width: 100%; background-position: bottom; background-repeat: no-repeat; background-size: cover;"
        [ngStyle]="{'background-image': 'url(assets/images/'+(defaults.imageFolder || 'sportimo')+ '/onboard/default.bg.jpg)'}">

        <div class="uk-position-relative uk-visible-toggle uk-transition-toggle uk-light" style="height: inherit;"
          id="slideshow">
          <ul class="uk-slideshow-items" style="height: inherit;">
            <li *ngFor="let slide of defaults.slides; let i = index">
              <div class="on-board-slide"
                [ngStyle]="{'background-image': 'url(assets/images/'+(defaults.imageFolder || 'sportimo')+ '/onboard/' + slide?.image + '.png)'}">
              </div>
              <div class="slideText ">
                <div style="max-width: 90%; margin: 0 auto;">
                  <h3 style="font-weight: bold"> {{slide.title[translate.currentLang]}}</h3>
                  <h4>{{slide.text[translate.currentLang]}}</h4>
                </div>
                <button *ngIf="i < defaults.slides.length-1" [disabled]="loading" type="submit" class="btn btn-slide">
                  <a href="#" uk-slideshow-item="next" *ngIf="slideCount == 3"><img
                      src="assets/images/sportimo/onboard/next.svg" alt=""></a>
                </button>


              </div>
              <div *ngIf="i < defaults.slides.length-1 && !closeBtns"
                class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
                id="nextBtn">
                <button [disabled]="loading" uk-slideshow-item="next" class="btn btn-slide" (click)="hideBtn()"
                  style="margin-bottom: 20px;">
                  <a><img src="assets/images/sportimo/onboard/next.svg" alt=""></a>
                </button>
              </div>
              <div *ngIf="i == defaults.slides.length-1 && !closeBtns"
                class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
                id="endBtn">
                <button [disabled]="loading" type="submit" class="btn btn-slide" style="margin-bottom: 20px;">
                  <a (click)="closeOnBoarding()"><img src="assets/images/sportimo/onboard/close.svg" alt=""></a>
                </button>
              </div>
            </li>

          </ul>

          <!-- <a class="uk-position-center-left uk-slidenav-large uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
          <a class="uk-position-center-right uk-slidenav-large uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a> -->
          <!-- NAVIGATION -->
          <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center " style="margin-top: 19px;"></ul>
          <button *ngIf="onBoardOpenBtn" [disabled]="loading" type="submit" class="btn btn-slide uk-position-center" style="top:90%">
            <a (click)="closeOnBoarding()"><img src="assets/images/sportimo/onboard/close.svg" alt=""></a>
          </button>
          <div >
            <a class="uk-position-center-left uk-position-large  uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous" (show.uk.slideshow)="getSlideIndex()" (click)="getSlideIndex()" ></a>
          </div>
          <div>
            <a class="uk-position-center-right uk-position-large  uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next" (show.uk.slideshow)="getSlideIndex()" (click)="getSlideIndex()"></a> 
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>




<div class="landing-background" [hidden]="!LandingPage && !PinVerify"></div>
<!-- AUTHENTICATION -->
<div [hidden]="!LandingPage" id="Authentication">
  <!-- Landing Slides -->
  <div class="modal-card2">
    <div class="landing-card">
      <div class="landing-card-content text-center text-white">

        <div *ngIf="defaults.landingPage.singleSlideText?.en" style="display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    margin-bottom: 25px;" class="slide-prize-header text-center"
          [innerHTML]="defaults.landingPage.singleSlideText[translate.currentLang]"></div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <div class="carousel-inner">
            <div *ngFor="let slide of defaults.landingPage.slidesShow; let i = index" class="carousel-item active"
              [class.active]="i==0">
              <div style="width: 278px;  margin: auto;">

                <div *ngIf="!defaults.landingPage.singleSlideText?.en" class="slide-prize-header text-center"
                  [innerHTML]="slide.header[translate.currentLang]"></div>
                <img *ngIf="slide.image" class="d-block" [src]="slide?.image" alt="First slide"
                  style="width: 30vh;max-width: 100%;margin: auto;">
                <div class="slide-prize-container" style="max-width: 50vh;">
                  <img class="slide-prize-image" src="/assets/images/sportimo/onboard/header_withblurs.png" alt="">
                  <div class="slide-prize-text" [innerHTML]="slide.prizeText[translate.currentLang]"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators-container">
            <ol class="carousel-indicators" *ngIf="defaults.landingPage.slidesShow.length>1">
              <li *ngIf="defaults.landingPage.slidesShow[0]" data-target="#carouselExampleIndicators" data-slide-to="0"
                class="active"></li>
              <li *ngIf="defaults.landingPage.slidesShow[1]" data-target="#carouselExampleIndicators" data-slide-to="1">
              </li>
              <li *ngIf="defaults.landingPage.slidesShow[2]" data-target="#carouselExampleIndicators" data-slide-to="2">
              </li>
            </ol>
          </div>
          <a *ngIf="defaults.landingPage.slidesShow.length>1" class="carousel-control-prev"
            href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a *ngIf="defaults.landingPage.slidesShow.length>1" class="carousel-control-next"
            href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!-- REGISTRATION FORM - ONE OPERATOR -->
        <form [formGroup]="msisdnForm" (ngSubmit)="onMSISDNSubmit()" class="sportimo-form"
          *ngIf="appOperators.length == 0">
          <div class="input-box">
            <span class="flag-icon flag-icon-squared"
              [className]="'flag-icon flag-icon-squared flag-icon-'+ getCountryCode(msisdnForm.controls.area.value?msisdnForm.controls.area.value:this.areaCodes[0]?.area)"></span>
            <div *ngIf="areaCodes.length < 2" class="input-area">{{nrSelect}}</div>
            <select *ngIf="areaCodes.length > 1" class="input-area" formControlName="area" [(ngModel)]='nrSelect'>
              <option *ngFor="let areaCode of areaCodes">{{areaCode.area}}</option>
            </select>
            <input type="text" autofocus formControlName="msisdn" class="form-control-plaintext text-left"
              autocorrect="off" autocapitalize="none" placeholder="{{ 'enterMobilePhone' | translate }}" required>
          </div>
          <button [disabled]="isSubmitting || msisdnForm.controls.msisdn.errors " type="submit"
            class="btn btn-sportimo login-form-button">
            <div class="loader-label" [class.btn-active]="isSubmitting">
              <span class="button-label" translate>Play</span>
              <div class="fadeInLoader">
                <span class="rotate dotted button-loader"></span>
              </div>
            </div>
          </button>
        </form>
        <!-- END: REGISTRATION FORM - ONE OPERATOR -->

        <!-- REGISTRATION FORM - MULTI OPERATORS -->
        <form [formGroup]="multiOperatorForm" (ngSubmit)="onMultiOperatorSelect()" class="sportimo-form"
          *ngIf="appOperators.length > 0">
          <!-- Country -->
          <div *ngIf="filteredOperators.length == 0">
            <!-- <span>Select your Country</span> -->
            <div class="input-box">
              <!-- Text -->
              <div class="select-info" [style.visibility]="!multiOperatorForm.controls.area.value?'visible':'hidden'">
                <span translate>Select Country</span>
              </div>

              <!-- <div *ngIf="availableCountries.length < 2" class="input-area2">{{nrSelect}}</div> -->
              <select #countrySelect *ngIf="availableCountries.length > 0" class="input-area2" formControlName="country"
                (change)='selectedCountry(countrySelect.value)'>
                <!-- <option disabled>Select Country </option> -->
                <option></option>
                <option [ngValue]="available" *ngFor="let available of availableCountries">
                  <span class="flag-icon flag-icon-squared"
                    [className]="'flag-icon flag-icon-squared flag-icon-'+ getCountryCode(multiOperatorForm.controls.area.value?multiOperatorForm.controls.area.value:this.availableCountries[0]?.area)"></span>
                  <span [translate]="available.code"></span>
                </option>
              </select>
              <!-- <input type="text" autofocus formControlName="msisdn" class="form-control-plaintext text-left"
              autocorrect="off" autocapitalize="none" placeholder="{{ 'enterMobilePhone' | translate }}" required> -->
            </div>
          </div>
          <!-- Operators -->
          <div
            *ngIf="(filteredOperators.length>0 && !this.multiOperatorForm.controls.operator.value) || (this.multiOperatorForm.controls.operator.value && multiOperatorForm.controls.operator.value.redirectUrl)">
            <!-- <span>Select your Operator</span> -->
            <div class="input-box">
              <div class="select-info"
                [style.visibility]="!multiOperatorForm.controls.operator.value?'visible':'hidden'">
                <span translate>Select Operator</span>
              </div>
              <div style="padding-top: 5px;"
                [style.visibility]="filteredOperators.length>0 && availableCountries.length != 1?'visible':'hidden'"
                class="isClickable" (click)="multiOperatorBack()">
                <div class="sub-icon back-icon float-left icn-arrow-back ng-star-inserted"></div>
              </div>
              <!-- <span class="flag-icon flag-icon-squared"
              [className]="'flag-icon flag-icon-squared flag-icon-'+ getCountryCode(multiOperatorForm.controls.area.value?multiOperatorForm.controls.area.value:this.availableCountries[0]?.area)"></span> -->
              <!-- <div *ngIf="filteredOperators.length < 2" class="input-area2">{{nrSelect}}</div> -->
              <select #operatorSelect *ngIf="filteredOperators.length > 0" class="input-area2"
                formControlName="operator" (change)='selectedOperator(operatorSelect.value)'>
                <!-- <option disabled>Select Operator </option> -->
                <!-- <option disabled>Select Operator </option> -->
                <option></option>
                <option [ngValue]="operator" *ngFor="let operator of filteredOperators">
                  {{operator.operatorName[translate.currentLang]}}</option>
              </select>

              <!-- <input type="text" autofocus formControlName="msisdn" class="form-control-plaintext text-left"
              autocorrect="off" autocapitalize="none" placeholder="{{ 'enterMobilePhone' | translate }}" required> -->
            </div>
          </div>
          <!-- MSISDN -->
          <div
            *ngIf="this.multiOperatorForm.controls.operator.value && this.multiOperatorForm.controls.operator.value.validationProcess && !this.multiOperatorForm.controls.operator.value.redirectUrl">
            <!-- <span>Drop your MSISDN</span> -->
            <div *ngIf="this.msisdnError" class="problem-info2">
              <div class="icn-info-white"></div> <span translate>{{this.errorMsg}}</span>
            </div>

            <div class="input-box">
              <div style="padding-top: 5px;"
                [style.visibility]="filteredOperators.length>1 || availableCountries.length != 1?'visible':'hidden'"
                class="isClickable" (click)="multiOperatorBack()">
                <div class="sub-icon back-icon float-left icn-arrow-back ng-star-inserted"></div>
              </div>
              <span class="flag-icon flag-icon-squared"
                [className]="'flag-icon flag-icon-squared flag-icon-'+ this.multiOperatorForm.controls.country.value.code?.toLowerCase()"></span>
              <div class="input-area">{{this.multiOperatorForm.controls.country.value.area}}</div>
              <!-- <select *ngIf="areaCodes.length > 1" class="input-area" formControlName="area" [(ngModel)]='nrSelect'>
              <option *ngFor="let areaCode of availableCountries">{{areaCode.area}}</option>
            </select> -->
              <input type="text" (ngModelChange)="multiOnChange()" ng-model="msisdnInput" autofocus
                formControlName="msisdn" class="form-control-plaintext text-left" autocorrect="off"
                autocapitalize="none" placeholder="{{ 'enterMobilePhone' | translate }}" required>

            </div>

            <button [disabled]="isSubmitting || !multiOperatorForm.controls.operator.value || !this.isSubmitOpen || (showCheckbox && !acceptedTerms)"
              type="submit" class="btn btn-sportimo login-form-button">
              <div class="loader-label" [class.btn-active]="isSubmitting">
                <span class="button-label" translate>Play</span>

                <div class="fadeInLoader">
                  <span class="rotate dotted button-loader"></span>
                </div>
              </div>
            </button>

            <div *ngIf="showCheckbox" class="form-check" style="margin-top: 10px;">
              <label>
                <input type="checkbox" [value]="" (change)="onCheckboxChange($event)" />
                I agree to the below terms and services
              </label>
            </div>
            
          </div>

          <button [disabled]="isSubmitting" type="submit" class="btn btn-sportimo login-form-button"
            *ngIf="this.multiOperatorForm.controls.operator.value && this.multiOperatorForm.controls.operator.value.redirectUrl">
            <div class="loader-label" [class.btn-active]="isSubmitting">
              <span class="button-label" translate>Join</span>
              <div class="fadeInLoader">
                <span class="rotate dotted button-loader"></span>
              </div>
            </div>
          </button>
        </form>
        <!-- END: REGISTRATION FORM - MULTI OPERATORS -->


        <div *ngIf="appOperators.length == 0" (click)="openTerms()" class="notice-msisdn isClickable"
          style="font-size: 10px" [innerHTML]="defaults.landingPage.terms[translate.currentLang]"></div>
        <div *ngIf="appOperators.length > 0 && currentOperator && currentOperator.termsText"
          (click)="openTermsLink(currentOperator.termsLink)" class="notice-msisdn isClickable" style="font-size: 10px"
          [innerHTML]="currentOperator.termsText[translate.currentLang]"></div>
      </div>

    </div>
  </div>
</div>

<!-- PIN VERIFICATION -->
<div id="pinForm" *ngIf="PinVerify" class="modal-card2">

  <!-- <div class="modal-card-header"> -->
  <!-- <div (click)="cancel()" class="modal-exit pull-right">X</div> -->
  <!-- </div> -->
  <div class="pin-card-body text-center">
    <div class="login-form-body">
      <!-- <div class="debug" style="max-height: 50px;">{{subState}}</div> -->
      <div class="pin-title">
        <h1 [innerHTML]="'susbcription_message_'+subState | translate:{value:appName[translate.currentLang]}"></h1>
        <!-- <h1 *ngIf = "subState == 'UNSUB'" translate>Subscribe to Play</h1>
      <h1 *ngIf = "subState == 'Active'" translate>Subscribe to Play</h1>
      <h1 *ngIf = "subState == 'UnSubCoins'" translate>Subscribe to Play</h1> -->
      </div>
      <form [formGroup]="pinForm" (ngSubmit)="onPinSubmit(false)" class="sportimo-form">
        <div class="login-form-info" translate>Please insert the 4-digit PIN code sent to your mobile number</div>
        <div class="login-form-content">
          <div class="form-group text-center">
            <!-- <label class="">Username/Email</label> -->
            <input id="pinInput" type="text" formControlName="pin" maxlength="4" minlength="4"
              class="form-control-plaintext input-box" autocorrect="off" autocapitalize="none"
              [ngClass]="{ 'is-invalid': submitted && pinForm.controls.pin.errors }"
              placeholder="{{ 'Enter PIN' | translate }}" required>
            <div *ngIf="submitted && pinForm.controls.pin.errors" class="invalid-feedback">
              <div *ngIf="pinForm.controls.pin.errors.required">PIN is required</div>
            </div>
            <div *ngIf="incorrectPin" class="problem-info">
              <div class="icn-info-alt"></div> <span translate>Incorrect PIN code</span>
            </div>
            <div *ngIf="blacklisted > 1" class="problem-info">
              <div class="icn-info-alt"></div> <span translate>Account Suspended</span>
            </div>
          </div>
        </div>
        <div class="login-form-buttons">
          <div class="form-group">
            <!-- <button [disabled]="isSubmitting || pinForm.controls.pin.errors" type="submit" class="btn btn-sportimo login-form-button"> -->
            <button [disabled]="isSubmitting || pinForm.controls.pin.errors" type="submit"
              class="btn btn-sportimo login-form-button">
              <div class="loader-label" [class.btn-active]="isSubmitting">
                <span class="button-label"
                  [innerHTML]="'susbcription_message_'+subState+'_action' | translate:{value:appName[translate.currentLang]}"></span>
                <div class="fadeInLoader">
                  <span class="rotate dotted button-loader"></span>
                </div>
              </div>
            </button>
          </div>
          <!-- <button [disabled]="isSubmiting" (click)="cancelAll()" class="btn btn-default">Cancel</button> -->
        </div>
        <div *ngIf="subState == 'UNSUBWITHCOINS'" [class.grey]="isSubmitting || pinForm.controls.pin.errors"
          class="enter-button" (click)="onPinSubmit(true)"
          [innerHTML]="'susbcription_message_ENTER' | translate:{value:appName[translate.currentLang]}"></div>
        <div *ngIf="!pinSent" class="resend-pin-button isClickable" (click)="ResendPin()" translate>Resend PIN</div>
        <div *ngIf="pinSent" [innerHTML]="'pin_sent' | translate"></div>
      </form>
      <div (click)="openTerms()" class="notice isClickable" style="font-size: 10px"
        [innerHTML]="defaults.landingPage.terms[translate.currentLang]">
      </div>
    </div>
  </div>
</div>

<!-- UPDATE USERNAME -->
<div id="pinForm" *ngIf="UsernameUpdate" class="modal-card2">

  <!-- <div class="modal-card-header"> -->
  <!-- <div (click)="cancel()" class="modal-exit pull-right">X</div> -->
  <!-- </div> -->
  <div class="pin-card-body text-center">
    <div class="login-form-body">
      <div class="pin-title">
        <h1 translate>Congratulations! You are in the game!</h1>
        <!-- <h1 *ngIf = "subState == 'UNSUB'" translate>Subscribe to Play</h1>
      <h1 *ngIf = "subState == 'Active'" translate>Subscribe to Play</h1>
      <h1 *ngIf = "subState == 'UnSubCoins'" translate>Subscribe to Play</h1> -->
      </div>

      <form [formGroup]="userForm" (ngSubmit)="onUsernameUpdate()" class="sportimo-form">
        <div class="login-form-info" translate>Write down your username</div>
        <div class="login-form-content">
          <div class="form-group text-center">
            <!-- <label class="">Username/Email</label> -->
            <input id="pinInput" type="text" formControlName="username" minlength="4"
              class="form-control-plaintext input-box" autocorrect="off" autocapitalize="none"
              [ngClass]="{ 'is-invalid': submitted && userForm.controls.username.errors }"
              placeholder="{{ this.user?.username }}" required>
            <div *ngIf="submitted && userForm.controls.username.errors" class="invalid-feedback">
              <div *ngIf="userForm.controls.username.errors.required">PIN is required</div>
            </div>
            <div *ngIf="incorrectPin" class="problem-info">
              <div class="icn-info-alt"></div> <span translate>Incorrect PIN code</span>
            </div>
          </div>
        </div>
        <div class="login-form-buttons">
          <div class="form-group">
            <!-- <button [disabled]="isSubmitting || pinForm.controls.pin.errors" type="submit" class="btn btn-sportimo login-form-button"> -->
            <button [disabled]="isSubmitting || userForm.controls.username.errors" type="submit"
              class="btn btn-sportimo login-form-button">
              <div class="loader-label" [class.btn-active]="isSubmitting">
                <span class="button-label" [innerHTML]="'Confirm' | translate"></span>
                <div class="fadeInLoader">
                  <span class="rotate dotted button-loader"></span>
                </div>
              </div>
            </button>
          </div>
          <!-- <button [disabled]="isSubmiting" (click)="cancelAll()" class="btn btn-default">Cancel</button> -->
        </div>
        <div *ngIf="subState == 'UNSUBWITHCOINS'" [class.grey]="isSubmitting || pinForm.controls.pin.errors"
          class="enter-button" (click)="onPinSubmit(true)"
          [innerHTML]="'susbcription_message_ENTER' | translate:{value:appName[translate.currentLang]}"></div>
        <div class="resend-pin-button" style="margin-top:10px" (click)="UsernameUpdate=false;Authenticated = true;"
          translate>Skip for now</div>
        <div style="font-size:10px;" translate>You can always edit your username at your Profile tab</div>
      </form>
      <div (click)="openTerms()" class="notice isClickable" style="font-size: 10px"
        [innerHTML]="defaults.landingPage.terms[translate.currentLang]">
      </div>
    </div>
  </div>
</div>

<!-- DAILY BONUS -->
<div id="dailyModal" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical animate__animated animate__bounceInDown">



    <div class="sponsored">
      <span *ngIf="loyaltyText"
        style="color: white;text-align: center;font-size: 14px;">{{loyaltyText[translate.currentLang]}}</span><br>
      <img class="sponsImg" src='{{ loyaltyImg }}' alt="">
    </div>
    <div class="center-top">
      <img class="svg-shadow" src="/assets/images/sportimo/dailybonus/dailybonus_header.svg" alt="">
      <div class="centered text-top" style="width:100%" translate>Daily Bonus</div>
    </div>
    <br><br>
    <h4 class="infotext" translate [translateParams]="{value:dailybonus}">dailybonus_text</h4>
    <br>
    <div class="centered center-top">
      <img class="" style="width:80%" src="/assets/images/sportimo/dailybonus/coin_fixed_dimensions.png" alt="">

    </div>

    <div class="center-bottom" (click)="collectCoin()">
      <img class="svg-shadow" src="/assets/images/sportimo/dailybonus/dailybonus_claimbutton.svg" alt="">
      <div class="centered text-bottom" translate>Collect</div>
    </div>

  </div>
</div>