<div class="background"></div>
<div class="row" style="position: relative">
  <div *ngIf="currentView == 0" translate class="main-pages-header">My Teams</div>
  <div *ngIf="currentView == 1" class="main-pages-header" style="display: flex">
    <div class="col-6">{{currentTeam?.name[translate.currentLang]}}</div>
    <div class="favorite col-6">
      <!-- <button class="btn btn-sportimo" style="width: 100%">Add to favorites</button> -->

      <button *ngIf="isLoggedIn && currentTeam" [disabled]="isLoading" (click)="toggleFavorite()"
        class="btn btn-sportimo" style="width: 100%">
        <div class="loader-label" [class.btn-active]="isLoading">
          <span *ngIf="isFavoriteTeam" translate class="button-label">Remove from favorites</span>
          <span *ngIf="!isFavoriteTeam" translate class="button-label">Add to favorites</span>
          <div class="fadeInLoader">
            <span class="rotate dotted button-loader"></span>
          </div>
        </div>
      </button>
    </div>
  </div>

  <!-- Teams -->
  <div class="main-pages-scrollarea container" *ngIf="currentView == 1">
    <div class="winner-card isClickable" *ngFor="let team of favoriteTeams" (click)="viewTeam(team._id)">
      <div class="winner-card-header col-12">
        <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#">
        <div>{{team.name[translate.currentLang]}}</div>
      </div>
      <!-- <div class="winner-card-body">
        <div class="winner-prize">PS4 Pro</div>
        <div class="row">
          <div class="col-8 prize-info">1st Prize, UEFA Champions LEgaue</div>
          <div class="col-4 prize-date text-right">28/06/2018</div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- Team -->
  <div *ngIf="currentView == 0" style="width:100%">

    <div class="match-info">
      <div class="match-info-header" translate>Next Match</div>
      <div class="team-side">
        <div class="kit">
          <img alt="" class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/sportimo-media/teams/Asset130.png">
        </div>
        <div class="team-name">Real</div>
      </div>
      <div class="match-info-date">
        <div class="vs">VS</div>
        <div class="date">21/05 9:30</div>
      </div>
      <div class="team-side">
        <div class="kit">
          <img alt="" class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/sportimo-media/teams/Asset130.png">
        </div>
        <div class="team-name">Tottenham</div>
      </div>
    </div>

    <div class="match-info">
      <div class="match-info-header" translate>Recent Form</div>
      <div class="inset-circle">
        <div class="circle-badge won">W</div>
      </div>
      <div class="inset-circle">
        <div class="circle-badge lost">L</div>
      </div>
      <div class="inset-circle">
        <div class="circle-badge tie">D</div>
      </div>
      <div class="inset-circle">
        <div class="circle-badge won">W</div>
      </div>
      <div class="inset-circle">
        <div class="circle-badge won">W</div>
      </div>
    </div>

    <div class="match-info">
      <div class="match-info-header" translate>Last Match</div>
      <div class="team-side">
        <div class="kit">
          <img alt="" class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/sportimo-media/teams/Asset130.png">
        </div>
        <div class="team-name">Real</div>
      </div>
      <div class="match-info-date">
        <div class="vs">VS</div>
        <div class="date">21/05 9:30</div>
      </div>
      <div class="team-side">
        <div class="kit">
          <img alt="" class="img-fluid" src="https://s3-eu-west-1.amazonaws.com/sportimo-media/teams/Asset130.png">
        </div>
        <div class="team-name">Tottenham</div>
      </div>
    </div>

    <div class="top-player">
        <div class="player-card" (click)="showPlayer(player._id)">
            <div class="player-card-header">
              <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
              <div translate>Top Scorer</div>          
            </div>
            <div class="player-card-body">
              <div class="player-data-header">
                <div>Harry Kane</div>                
              </div>
              
            </div>
          </div>
          <div class="stat">
              <div class="number">85</div>
              <div class="stat-title" translate>Goals</div>
          </div>
    </div>

    <div class="top-player">
        <div class="player-card" (click)="showPlayer(player._id)">
            <div class="player-card-header">
              <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
              <div translate>Top Assister</div>          
            </div>
            <div class="player-card-body">
              <div class="player-data-header">
                <div>Andrew Nesso</div>                
              </div>
              
            </div>
          </div>
          <div class="stat">
              <div class="number">12</div>
              <div class="stat-title" translate>Assists</div>
          </div>
    </div>

  </div>

</div>