<!--Page Header Start-->
<app-login></app-login>
<app-register></app-register>
<div class="page-main-header">
    <div class="container" style="max-width: 1140px; width:100%;">
        <div class="row" style="justify-content: space-between;">
            <div class="main-header-left">
                <div class="logo-wrapper">
                    <a [routerLink]="'./main/contests'">
                        <div class="app-logo"></div>
                    </a>
                    <!-- <a [routerLink]="'main/contests'" class="app-name">{{appname[translate.currentLang]}}</a> -->
                </div>
            </div>
            <div class="main-header-right">
           
                <!-- <div class="nav-right col"> -->
                  
                    <button (click)="addToHomeScreen()" class="install-button" [class.not-active]="!showButton">
                        <!-- <div class="icn-install-small" style="height: 29px;width: 32px;"></div> -->
                        <span translate>install_button</span>
                    </button>
                    <div *ngIf="currentUser && useWallet" class="user-wallet">{{parseNumbers(currentUser.wallet)}}<i
                            class="coin"></i></div>
                    <div class="mobile-toggle isClickable">
                        <div class="icn-burger" style="height: 24px;width: 30px;"></div>
                        <span *ngIf="currentUser && currentUser?.unread>0" style="position: absolute;
                        top: 0px;
                        right: 10px;
                        font-size: 10px;
                        border-radius: 10px;
                        background-color: #ff0000;
                        line-height: 5px;
                    " class="badge badge-danger ng-star-inserted">{{currentUser.unread}}</span>
                        <i class="icon-menu"></i>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
<!--Page Header Ends-->