a {
    color:#ffffff;
    text-decoration: none;
}

.app-name{
    margin-left: 10px;
}

.install-button{
    background-color: #0000005e;
    color: white;
    border: 1px solid #ffffff61;
    border-radius: 5px;
    margin: 0 5px;
    height: 32px;
    max-width: 48px;
    font-size: 8px;
}

.install-button.not-active{
    opacity:0.1;
}