a {
    color:#ffffff;
    text-decoration: none;
}

.app-name{
    margin-left: 10px;
}

.install-button{
    background-color: #0000005e;
    color: white;
    border: 1px solid #ffffff61;
    border-radius: 5px;
    margin: 0 10px;
    line-height: 22px;
    padding-top: 3px;
}

.install-button.not-active{
    opacity:0.1;
}