<div class="lost">
  <div class="gamecard">
    <div class="details">
      <div class="icon">
        <div class="card-icon icn-yellow"></div>
      </div>
      <div class="texts">
        <p class="event-name">Yellow</p>
        <p class="event-team">Real Madrid</p>
        <p class="event-time">24:42:33</p>
      </div>
    </div>
    <div class="info">
      <div class="points"><strong>50</strong> pts
      </div>
      <div class="powers">
        <div class="double-points active">x2</div>
        <div class="double-time active">
          <div class="double-time-icon">
            <div class="power-icon icn-stopwatch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ngb-progressbar type="card-timer" [value]="75" height="3px"></ngb-progressbar> -->
  <div class="progress">
    <div class="progress-bar bg-card-timer" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
</div>