@import "src/variables.scss";

.background{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-body {
  padding: 5px 15px 0 15px !important;
}

.row {
  align-items: center;
}

.sportimo-divider {
  height: 2px;
  background-color: $theme-color;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
//   margin-bottom: 5px;
}

.user-chances {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
}

.user-chances span {
  color: $theme-color;
}

.nav {
    display: flex;
    align-items: stretch;
    background: rgba(0, 0, 0, 0.58);
    height: 30px;
    justify-content: space-evenly;
  }
  
  .nav-item {
    flex-grow: 1;
    margin: auto;
  }
  
  .nav .nav-link {
    padding: 0;
    height: 30px;
    line-height: 29px;
    border: 0;
    color: #fff;
    text-decoration: none;
  }
  
  .nav .nav-link.active {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: $theme-color;
    border-radius: 0;
    border-bottom: solid 2px #ffc531;
  }
  
  .nav .nav-link.active div {
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }

  .prizes-container{
    padding: 25px;
}

.prize-container{
    background-color: #000000;
    margin-bottom: 20px;
}

.prize-header{
    color: #ffffff;
    height: 22.5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 22.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.prize-image{
    width: 100%;
    height: 185px;
}

.prize-text-title{
    font-size: 13px;
    font-weight: 700;
    padding: 5px 10px;
    color: #ffffff;
}

.prize-text-body{
    font-size: 11px;
    padding: 1px 10px 10px 10px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal-card{
    width: 85%;
    max-width: 427px;
}

.modal-card-body{
    height: 600px;
    max-height: 85%;
}
.modal-card-header {
    background-color: #3b4654;
}

.selected-prize-rank{
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    background-color: #3b4654;
    border-bottom: 2px solid $theme-color;
}

.selected-prize-title{
color: #ffffff;
font-size: 18px;
font-weight: 700;
padding: 20px 20px 10px 20px;
}

.selected-prize-body{
    color: #ffffff;
    font-size: 14px;
    padding: 0 20px;
}

.timer-header, .timer-body{
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
}
.timer-header div, .timer-body div{
  width: 33%;
  text-align: center;
  // justify-content: space-evenly;
}

.timer-header{  
  background:rgba(0, 0, 0, 0.33);
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  font-family: Roboto;
  margin-bottom: 2px;
}

.timer-body{
  background:rgba(0, 0, 0, 0.54);
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  font-family: Roboto;
}