<div class="background"></div>
<div class="container">
  <div class="row" style="position: relative">
    <div *ngIf="currentView == 0" class="main-pages-header" translate>Standings</div>
    <div *ngIf="currentView == 1" class="main-pages-header">{{currentStandings?.name[translate.currentLang]}}</div>
    <div *ngIf="currentView == 2" class="main-pages-header" style="display: flex">
      <div class="col-6">{{currentTeam?.name[translate.currentLang]}}</div>
      <div class="favorite col-6">
        <button *ngIf="isLoggedIn && currentTeam" [disabled]="isLoading" (click)="toggleFavorite()"
          class="btn btn-sportimo" style="width: 100%">
          <div class="loader-label" [class.btn-active]="isLoading" style="font-size: 13px;">
            <span *ngIf="isFavoriteTeam" translate class="button-label">Remove from favorites</span>
            <span *ngIf="!isFavoriteTeam" translate class="button-label">Add to favorites</span>
            <div class="fadeInLoader">
              <span class="rotate dotted button-loader"></span>
            </div>
          </div>
        </button>
      </div>
    </div>
    <div *ngIf="currentView == 3" class="main-pages-header" style="width:100%">
      {{currentPlayer?.name[translate.currentLang]}}</div>
    <!-- Leagues -->
    <div class="main-pages-scrollarea container p-t-15" *ngIf="currentView == 0">
      <div *ngFor="let league of leagues">
        <div class="league-item isClickable" (click)="showStantings(league.competition._id)">
          <div class="img"><img src="{{league?.competition.logo}}" alt=""></div>
          <div class="info">
            <div class="title">{{league?.competition.name[translate.currentLang]}}</div>
            <div class="text">{{league?.name[translate.currentLang]}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Standings -->
    <div class="" *ngIf="currentView == 1" style="width:100%">
      <div class="standings-table">
        <div class="standings-header">
          <div class="cell-50 header-rank">#</div>
          <div class="cell header-name" translate>Team</div>
          <div class="cell-50 header-p" translate>P</div>
          <div class="cell-50 header-w" translate>W</div>
          <div class="cell-50 header-d" translate>D</div>
          <div class="cell-50 header-l" translate>L</div>
          <div class="cell-50 header-gd" translate>GD</div>
          <div class="cell-50 header-pts" translate>Pts</div>
        </div>
      </div>
      <div class="standings-scrollarea">
        <div class="standings-table">
          <div class="standings-row isClickable" *ngFor="let team of currentStandings?.teams; let i = index"
            (click)="showTeam(team.teamId)">
            <div class="cell-50 standings-rank">{{parseNumbers (i+1)}}</div>
            <div class="cell standings-name">{{team.teamName[translate.currentLang]}}</div>
            <div class="cell-50 standings-p">{{parseNumbers(team.gamesPlayed.toString())}}</div>
            <div class="cell-50 standings-w">{{parseNumbers(team.wins.toString())}}</div>
            <div class="cell-50 standings-d">{{parseNumbers(team.ties.toString())}}</div>
            <div class="cell-50 standings-l">{{parseNumbers(team.losses.toString())}}</div>
            <div class="cell-50 standings-gd">{{parseNumbers(team.goalsFor-team.goalsAgainst)}}</div>
            <div class="cell-50 standings-pts">{{parseNumbers(team.points.toString())}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Team -->
    <div *ngIf="currentView == 2" style="width:100%">
      <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 0">
        <li class="nav-item">
          <a class="nav-link active" id="players-tab" data-toggle="tab" href="#players" role="tab"
            aria-controls="players" aria-selected="true">
            <div translate>Players</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats"
            aria-selected="false">
            <div translate>Stats</div>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="players" role="tabpanel" aria-labelledby="players-tab">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
                aria-selected="true">
                <div translate>All</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="gk-tab" data-toggle="tab" href="#gk" role="tab" aria-controls="gk"
                aria-selected="false">
                <div translate>GK</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="def-tab" data-toggle="tab" href="#def" role="tab" aria-controls="def"
                aria-selected="false">
                <div translate>DEF</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="med-tab" data-toggle="tab" href="#med" role="tab" aria-controls="med"
                aria-selected="false">
                <div translate>MED</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="fw-tab" data-toggle="tab" href="#fw" role="tab" aria-controls="fw"
                aria-selected="false">
                <div translate>FW</div>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
              <div class="players-scrollarea container">
                <div *ngFor="let player of currentTeam?.players">
                  <div class="player-card" (click)="showPlayer(player._id)">
                    <div class="player-card-header col-12">
                      <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
                      <div>{{player.name[translate.currentLang]}}</div>
                      <div style='margin-left:5px; font-weight: 100; font-size:11px'> - {{player.position}}</div>
                    </div>
                    <div class="player-card-body">
                      <div class="player-data-header row">
                        <div class="col-4" translate>Height</div>
                        <div class="col-4" translate>Weight</div>
                        <div class="col-4" translate>Born</div>
                      </div>
                      <div class="row player-data">
                        <div class="col-4">{{player.personalData.height?.centimeters}}</div>
                        <div class="col-4">{{player.personalData.weight?.kilograms}}</div>
                        <div class="col-4">{{player.personalData.birth?.birthDate.full}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="gk" role="tabpanel" aria-labelledby="gk-tab">
              <div class="container">
                <div *ngFor="let player of getGK">
                  <div class="player-card" (click)="showPlayer(player._id)">
                    <div class="player-card-header col-12">
                      <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
                      <div>{{player.name[translate.currentLang]}}</div>
                      <div style='margin-left:5px; font-weight: 100; font-size:11px'> - {{player.position}}</div>
                    </div>
                    <div class="player-card-body">
                      <div class="player-data-header row">
                        <div class="col-4" translate>Height</div>
                        <div class="col-4" translate>Weight</div>
                        <div class="col-4" translate>Born</div>
                      </div>
                      <div class="row player-data">
                        <div class="col-4">{{player.personalData.weight?.kilograms}}</div>
                        <div class="col-4">{{player.personalData.height?.centimeters}}</div>
                        <div class="col-4">{{player.personalData.birth?.birthDate.full}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="def" role="tabpanel" aria-labelledby="def-tab">
              <div class="container">
                <div *ngFor="let player of getDEF">
                  <div class="player-card" (click)="showPlayer(player._id)">
                    <div class="player-card-header col-12">
                      <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
                      <div>{{player.name[translate.currentLang]}}</div>
                      <div style='margin-left:5px; font-weight: 100; font-size:11px'> - {{player.position}}</div>
                    </div>
                    <div class="player-card-body">
                      <div class="player-data-header row">
                        <div class="col-4" translate>Height</div>
                        <div class="col-4" translate>Weight</div>
                        <div class="col-4" translate>Born</div>
                      </div>
                      <div class="row player-data">
                        <div class="col-4">{{player.personalData.weight?.kilograms}}</div>
                        <div class="col-4">{{player.personalData.height?.centimeters}}</div>
                        <div class="col-4">{{player.personalData.birth?.birthDate.full}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="med" role="tabpanel" aria-labelledby="med-tab">
              <div class="container">
                <div *ngFor="let player of getMED">
                  <div class="player-card" (click)="showPlayer(player._id)">
                    <div class="player-card-header col-12">
                      <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
                      <div>{{player.name[translate.currentLang]}}</div>
                      <div style='margin-left:5px; font-weight: 100; font-size:11px'> - {{player.position}}</div>
                    </div>
                    <div class="player-card-body">
                      <div class="player-data-header row">
                        <div class="col-4" translate>Height</div>
                        <div class="col-4" translate>Weight</div>
                        <div class="col-4" translate>Born</div>
                      </div>
                      <div class="row player-data">
                        <div class="col-4">{{player.personalData.weight?.kilograms}}</div>
                        <div class="col-4">{{player.personalData.height?.centimeters}}</div>
                        <div class="col-4">{{player.personalData.birth?.birthDate.full}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="fw" role="tabpanel" aria-labelledby="fw-tab">
              <div class="container">
                <div *ngFor="let player of getFW">
                  <div class="player-card" (click)="showPlayer(player._id)">
                    <div class="player-card-header col-12">
                      <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
                      <div>{{player.name[translate.currentLang]}}</div>
                      <div style='margin-left:5px; font-weight: 100; font-size:11px'> - {{player.position}}</div>
                    </div>
                    <div class="player-card-body">
                      <div class="player-data-header row">
                        <div class="col-4" translate>Height</div>
                        <div class="col-4" translate>Weight</div>
                        <div class="col-4" translate>Born</div>
                      </div>
                      <div class="row player-data">
                        <div class="col-4">{{player.personalData.weight?.kilograms}}</div>
                        <div class="col-4">{{player.personalData.height?.centimeters}}</div>
                        <div class="col-4">{{player.personalData.birth?.birthDate.full}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
          <div class="container p-t-15">
            <div class="stat-card" style="margin-bottom: 5px;">
              <div class="team-stat">
                <div class="icn-contest" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 50px; font-weight: 700">{{stats?.stats.gamesPlayed}}</div>
                  <div class="stat-text" style="font-size: 17px; font-weight: 700" translate>Games played</div>
                </div>
              </div>
              <div class="team-stat">
                <div class="icn-goal" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 50px; font-weight: 700">{{stats?.stats.Goal}}</div>
                  <div class="stat-text" style="font-size: 17px; font-weight: 700" translate>Total goals</div>
                </div>
              </div>
            </div>

            <div class="stat-card" style="margin-bottom: 5px;">
              <div class="team-stat">
                <div class="icn-shot" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 50px; font-weight: 700">{{stats?.stats.Shot_On_Goal}}</div>
                  <div class="stat-text" style="font-size: 17px; font-weight: 700" translate>Shots on Target</div>
                </div>
              </div>
              <div class="team-stat">
                <div class="icn-cross" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 50px; font-weight: 700">{{stats?.stats.Crosses}}</div>
                  <div class="stat-text" style="font-size: 17px; font-weight: 700" translate>Crosses</div>
                </div>
              </div>
            </div>

            <div class="stat-card" style="margin-bottom: 5px;">
              <div class="team-stat">
                <div class="icn-corner" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 37px">{{stats?.stats.Corner}}</div>
                  <div class="stat-text" style="font-size: 12px" translate>Corners</div>
                </div>
              </div>
              <div class="team-stat">
                <div class="icn-offside" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 37px">{{stats?.stats.Offside}}</div>
                  <div class="stat-text" style="font-size: 12px" translate>Offsides</div>
                </div>
              </div>
              <div class="team-stat">
                <div class="icn-penalty" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 37px">{{stats?.stats.Penalty}}</div>
                  <div class="stat-text" style="font-size: 12px" translate>Penalties</div>
                </div>
              </div>
            </div>

            <div class="stat-card" style="margin-bottom: 5px;">
              <div class="team-stat">
                <div class="icn-foul" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 37px">{{stats?.stats.Foul}}</div>
                  <div class="stat-text" style="font-size: 12px" translate>Fouls</div>
                </div>
              </div>
              <div class="team-stat">
                <div class="icn-yellow" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 37px">{{stats?.stats.Yellow}}</div>
                  <div class="stat-text" style="font-size: 12px" translate>Yellow cards</div>
                </div>
              </div>
              <div class="team-stat">
                <div class="icn-red" style="height: 40px;width: 60px"></div>
                <div>
                  <div class="stat-number" style="font-size: 37px">{{stats?.stats.Red}}</div>
                  <div class="stat-text" style="font-size: 12px" translate>Red cards</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Player -->
    <div class="main-pages-scrollarea" *ngIf="currentView == 3" style="width:100%">
      <div class="player-card" style="margin-bottom: 0">
        <div class="player-card-header col-12">
          <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
          <div>{{currentPlayer?.name[translate.currentLang]}}</div>
          <div style='margin-left:5px; font-weight: 100; font-size:11px'> - {{currentPlayer?.position}}</div>
        </div>
        <div class="player-card-body">
          <div class="player-data-header row">
            <div class="col-4" translate>Height</div>
            <div class="col-4" translate>Weight</div>
            <div class="col-4" translate>Born</div>
          </div>
          <div class="row player-data">
            <div class="col-4">{{currentPlayer?.personalData.weight?.kilograms}}</div>
            <div class="col-4">{{currentPlayer?.personalData.height?.centimeters}}</div>
            <div class="col-4">{{currentPlayer?.personalData.birth?.birthDate.full}}</div>
          </div>
        </div>
      </div>
      <div class="player-card-header col-12 text-center">
        <!-- <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#"> -->
        <div translate>Career Statistics</div>
      </div>
      <!-- Games -->
      <div class="stat-card">
        <div class="icn-contests stat-icon" style="height: 40px"></div>
        <div class="stat-text-1">
          <div class="stat-number" style="font-size: 37px">{{currentPlayer?.stats.career.gamesPlayed}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Matches played</div>
        </div>
        <div class="stat-text-1">
          <div class="stat-number" style="font-size: 37px">{{currentPlayer?.stats.career.gamesStarted}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Starting lineup</div>
        </div>
      </div>
      <div class="stat-subcard" style="margin-bottom: 5px;">
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.touchesPasses}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Passes</div>
        </div>
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.assistsTotal}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Assists</div>
        </div>
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.touchesInterceptions}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Interceptions</div>
        </div>
      </div>
      <!-- Goals -->
      <div class="stat-card">
        <div class="stat-icon icn-goal" style="height: 60px"></div>
        <div class="stat-text-2">
          <div class="stat-number" style="font-size: 37px">{{currentPlayer?.stats.career.goalsTotal}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Total goals</div>
        </div>
      </div>
      <div class="stat-subcard" style="margin-bottom: 5px;">
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.goalsKicked}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Kicked</div>
        </div>
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.goalsHeaded}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Headers</div>
        </div>
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.goalsGameWinning}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Winning</div>
        </div>
      </div>
      <!-- Fouls -->
      <div class="stat-card">
        <div class="icn-foul stat-icon" style="height: 60px"></div>
        <div class="stat-text-1">
          <div class="stat-number" style="font-size: 37px">{{currentPlayer?.stats.career.foulsSuffered}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Fouls suffered</div>
        </div>
        <div class="stat-text-1">
          <div class="stat-number" style="font-size: 37px">{{currentPlayer?.stats.career.foulsCommitted}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Fouls commited</div>
        </div>
      </div>
      <div class="stat-subcard" style="margin-bottom: 5px;">
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.yellowCards}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Yellow cards</div>
        </div>
        <div>
          <div class="stat-number" style="font-size: 20px">{{currentPlayer?.stats.career.redCards}}</div>
          <div translate class="stat-text" style="font-size: 12px" translate>Red Cards</div>
        </div>
      </div>
    </div>
  </div>
</div>