<!-- Container-fluid starts -->
<!-- <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Dashboard
                        <small>Universal Admin panel</small>
                    </h3>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item">Starter Kit</li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div> -->
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row starter-main">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Grand Prize</h5>
                    <div class="card-header-right">

                    </div>
                </div>
                <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra erat a imperdiet pretium. Suspendisse vitae justo neque. Duis dictum faucibus ligula mattis pellentesque. Donec condimentum, ante vel mollis eleifend, enim mi venenatis tellus, nec cursus ex elit vel quam. Cras tincidunt dolor erat, vitae dapibus ex blandit ac. Aenean ipsum enim, euismod nec finibus in, suscipit sit amet est. Aenean posuere tempus enim, ac rhoncus quam gravida eget.

                        Proin ultrices ligula nec leo venenatis aliquet vitae sit amet lacus. Sed mollis sollicitudin mollis. Suspendisse sit amet euismod nisi, et blandit dolor. In ipsum elit, convallis sit amet finibus auctor, porttitor in erat. Aenean a lectus et nisl varius dignissim. Sed tempor accumsan neque eget rutrum. Curabitur rutrum nisi id lorem convallis convallis. Fusce et neque elit.
                        
                        Aliquam vulputate quis ligula facilisis feugiat. Curabitur gravida, diam at facilisis dignissim, dolor felis fringilla libero, et fringilla nisl tortor et est. Praesent sit amet tempor ex. Donec mollis egestas urna, in rutrum sapien pellentesque a. Vestibulum vel gravida justo. In pulvinar condimentum est, a lacinia ligula pretium ut. Mauris gravida ligula non orci molestie ultricies. Sed laoreet purus nisl. In hac habitasse platea dictumst. Pellentesque sed finibus nisl. Etiam ullamcorper sodales ligula, at tincidunt metus convallis sed.
                        
                        Vestibulum ornare efficitur pharetra. Donec laoreet lobortis ex in posuere. Etiam urna dui, pellentesque ut leo dignissim, vulputate congue tellus. Ut condimentum vehicula accumsan. Proin eget porttitor velit. Mauris vitae erat ut odio interdum tempus eu quis lectus. Phasellus in varius odio. Vestibulum at lacus ante. Sed non mauris diam. Mauris ut rhoncus turpis. Integer ultrices nulla quis quam posuere, sit amet porttitor turpis vulputate.
                        
                        Vestibulum molestie eros eget orci placerat, sit amet rutrum sem ornare. Etiam congue dolor nec purus congue, eget cursus risus tincidunt. Donec in nunc sed tellus cursus fringilla eget non urna. Ut massa augue, ullamcorper sed consequat vitae, consectetur eu tellus. Sed sit amet nulla tellus. Nullam tincidunt orci quis nulla ullamcorper blandit. Sed tempor consequat velit molestie fringilla. Pellentesque dolor dui, pellentesque in facilisis quis, pellentesque eu nunc. Aliquam luctus sapien mi, nec ultrices justo convallis non. Quisque bibendum, justo ac elementum pulvinar, magna mauris accumsan purus, in ultrices lectus eros consequat lectus.

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Contests</h5>
                </div>
                <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra erat a imperdiet pretium. Suspendisse vitae justo neque. Duis dictum faucibus ligula mattis pellentesque. Donec condimentum, ante vel mollis eleifend, enim mi venenatis tellus, nec cursus ex elit vel quam. Cras tincidunt dolor erat, vitae dapibus ex blandit ac. Aenean ipsum enim, euismod nec finibus in, suscipit sit amet est. Aenean posuere tempus enim, ac rhoncus quam gravida eget.

                        Proin ultrices ligula nec leo venenatis aliquet vitae sit amet lacus. Sed mollis sollicitudin mollis. Suspendisse sit amet euismod nisi, et blandit dolor. In ipsum elit, convallis sit amet finibus auctor, porttitor in erat. Aenean a lectus et nisl varius dignissim. Sed tempor accumsan neque eget rutrum. Curabitur rutrum nisi id lorem convallis convallis. Fusce et neque elit.
                        
                        Aliquam vulputate quis ligula facilisis feugiat. Curabitur gravida, diam at facilisis dignissim, dolor felis fringilla libero, et fringilla nisl tortor et est. Praesent sit amet tempor ex. Donec mollis egestas urna, in rutrum sapien pellentesque a. Vestibulum vel gravida justo. In pulvinar condimentum est, a lacinia ligula pretium ut. Mauris gravida ligula non orci molestie ultricies. Sed laoreet purus nisl. In hac habitasse platea dictumst. Pellentesque sed finibus nisl. Etiam ullamcorper sodales ligula, at tincidunt metus convallis sed.
                        
                        Vestibulum ornare efficitur pharetra. Donec laoreet lobortis ex in posuere. Etiam urna dui, pellentesque ut leo dignissim, vulputate congue tellus. Ut condimentum vehicula accumsan. Proin eget porttitor velit. Mauris vitae erat ut odio interdum tempus eu quis lectus. Phasellus in varius odio. Vestibulum at lacus ante. Sed non mauris diam. Mauris ut rhoncus turpis. Integer ultrices nulla quis quam posuere, sit amet porttitor turpis vulputate.
                        
                        Vestibulum molestie eros eget orci placerat, sit amet rutrum sem ornare. Etiam congue dolor nec purus congue, eget cursus risus tincidunt. Donec in nunc sed tellus cursus fringilla eget non urna. Ut massa augue, ullamcorper sed consequat vitae, consectetur eu tellus. Sed sit amet nulla tellus. Nullam tincidunt orci quis nulla ullamcorper blandit. Sed tempor consequat velit molestie fringilla. Pellentesque dolor dui, pellentesque in facilisis quis, pellentesque eu nunc. Aliquam luctus sapien mi, nec ultrices justo convallis non. Quisque bibendum, justo ac elementum pulvinar, magna mauris accumsan purus, in ultrices lectus eros consequat lectus.

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Matches</h5>

                </div>
                <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra erat a imperdiet pretium. Suspendisse vitae justo neque. Duis dictum faucibus ligula mattis pellentesque. Donec condimentum, ante vel mollis eleifend, enim mi venenatis tellus, nec cursus ex elit vel quam. Cras tincidunt dolor erat, vitae dapibus ex blandit ac. Aenean ipsum enim, euismod nec finibus in, suscipit sit amet est. Aenean posuere tempus enim, ac rhoncus quam gravida eget.

                        Proin ultrices ligula nec leo venenatis aliquet vitae sit amet lacus. Sed mollis sollicitudin mollis. Suspendisse sit amet euismod nisi, et blandit dolor. In ipsum elit, convallis sit amet finibus auctor, porttitor in erat. Aenean a lectus et nisl varius dignissim. Sed tempor accumsan neque eget rutrum. Curabitur rutrum nisi id lorem convallis convallis. Fusce et neque elit.
                        
                        Aliquam vulputate quis ligula facilisis feugiat. Curabitur gravida, diam at facilisis dignissim, dolor felis fringilla libero, et fringilla nisl tortor et est. Praesent sit amet tempor ex. Donec mollis egestas urna, in rutrum sapien pellentesque a. Vestibulum vel gravida justo. In pulvinar condimentum est, a lacinia ligula pretium ut. Mauris gravida ligula non orci molestie ultricies. Sed laoreet purus nisl. In hac habitasse platea dictumst. Pellentesque sed finibus nisl. Etiam ullamcorper sodales ligula, at tincidunt metus convallis sed.
                        
                        Vestibulum ornare efficitur pharetra. Donec laoreet lobortis ex in posuere. Etiam urna dui, pellentesque ut leo dignissim, vulputate congue tellus. Ut condimentum vehicula accumsan. Proin eget porttitor velit. Mauris vitae erat ut odio interdum tempus eu quis lectus. Phasellus in varius odio. Vestibulum at lacus ante. Sed non mauris diam. Mauris ut rhoncus turpis. Integer ultrices nulla quis quam posuere, sit amet porttitor turpis vulputate.
                        
                        Vestibulum molestie eros eget orci placerat, sit amet rutrum sem ornare. Etiam congue dolor nec purus congue, eget cursus risus tincidunt. Donec in nunc sed tellus cursus fringilla eget non urna. Ut massa augue, ullamcorper sed consequat vitae, consectetur eu tellus. Sed sit amet nulla tellus. Nullam tincidunt orci quis nulla ullamcorper blandit. Sed tempor consequat velit molestie fringilla. Pellentesque dolor dui, pellentesque in facilisis quis, pellentesque eu nunc. Aliquam luctus sapien mi, nec ultrices justo convallis non. Quisque bibendum, justo ac elementum pulvinar, magna mauris accumsan purus, in ultrices lectus eros consequat lectus.

                </div>
            </div>
        </div>
    </div>
</div>

<!--Page Body Ends-->