
<!-- Container-fluid starts -->
<app-grand-prize></app-grand-prize>
<div class="container-fluid fade show">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <app-contests-list></app-contests-list>
        </div>
        <div class="matches-list col-lg-4 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Matches Component</h5>

                </div>
                <div class="card-body text-center img">
                    <img class="img-fluid h-200" src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!--Page Body Ends-->