
  <div [@staggerAnimation]="contests?.length">
    <div class="col-sm-12 p-0 contest-list-item"  *ngFor="let contest of contests; let i = index">
      <div class="card contest-item-container"  tab-index="0" (click)="ContestClicked(contest?._id)">
        <div class="card-header contest-header">
          <div class="row">
            <span class="contest-name col">{{contest.titleText[translate.currentLang]}}</span>
            <span class="contest-duration col text-right"><strong>Ends:</strong> {{contest.endToDate | date }}</span>
          </div>
        </div>
        <div class="card-body" [ngStyle]="{background: 'url(' + contest.promoDetailImage + ')', 'background-size': 'cover'}">
          <div class="row">
          <div class="col-7 contest-image">
            <img src="{{contest.promoImage}}" alt="">
          </div>
          <div class="col-5 contest-details text-center">
            <p class="contest-details-text">{{contest.smallInfoText[translate.currentLang]}}</p>
            <p>{{contest.subscriptionPrice}} <i class="coin"></i> to Join</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
