
<div *ngIf="contestDetails" [@staggerAnimation] class="card fade show">
  <div class="card-body" style="background-repeat: no-repeat;
  background-size: cover;
  background-position: center;" [ngStyle]="{'background-image': 'url(' + (contestDetails?.promoDetailImage || './assets/images/contest-bg.png') + ')'}">

    <div class="contest-image">
      <img src="{{contestDetails?.promoImage}}" style="max-height: 200px" alt="">
    </div>

  </div>
  <div class="card-body text-white formated-text" >
    <div [innerHTML] = "contestDetails?.detailText[translate.currentLang]"></div>
  </div>
</div>