
<div *ngIf="contestDetails" [@staggerAnimation] class="card fade show">
  <div class="card-body" style="background-repeat: no-repeat;
  background-size: cover;
  background-position: center;" [ngStyle]="{'background-image': 'url(' + contestDetails?.promoDetailImage + ')'}">

    <div class="contest-image">
      <img src="{{contestDetails?.promoImage}}" style="max-height: 200px" alt="">
    </div>

  </div>
  <div class="card-body text-white">
    <div [innerHTML] = "contestDetails?.infoText.en"></div>
  </div>
</div>