<nav class="navbar fixed-bottom terms-footer">
  <div class="container">
    <div style="width: 100%;">
      <!-- <div class="row">
        <a href="#">
          <div class=""><img src="assets/images/sportimo/book.svg" class="black-to-white footer-icon " /></div>
          <span translate>How to Play</span>
        </a>

        <a href="#">
          <div class=""><img src="assets/images/sportimo/icon-about.svg" class="footer-icon" /></div>
          <span translate>FAQ</span>
        </a>

        <a (click)="openTerms()">
          <div class=""><img src="assets/images/sportimo/file-alt.svg" class="black-to-white footer-icon" /></div>
          <span translate>Terms & Conditions</span>
        </a>

        <a href="#">              
          <span translate>2020 All Rights Reserved</span>
        </a>
      </div> -->
    </div>
  </div>
</nav>
