<div class="modal-background hidden" id="app-login-modal">
  <div class="modal-card">
    <div class="modal-card-header">
      <div class="modal-title" translate>Login</div>
      <div (click)="cancel()" class="modal-exit pull-right">X</div>
    </div>
    <div class="modal-card-body text-center">
      <div class="login-form-body">
        <div class="login-form-info" translate>Please enter your Username and Password</div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="sportimo-form">
          <div class="login-form-content">
            <div class="form-group text-center">
              <label class="" translate>Username/Email</label>
              <input type="text" formControlName="username" class="form-control-plaintext"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="{{ 'Username' | translate }}" required>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required" translate>Username is required</div>
              </div>
           
            </div>
            <div class="form-group">
              <label class="" translate>Password/Email</label>
              <input type="password" formControlName="password" class="form-control-plaintext"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="{{ 'Password' | translate }}" required>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required" translate>Password is required</div>
              </div>
            </div>
            <div *ngIf="error" class="problem-info">
                <div class="icn-info-alt"></div> <span >{{error}}</span>
              </div>
          </div>
             
         
          <div class="login-form-buttons">
            <div class="form-group">
              <button [disabled]="isSubmitting" type="submit" class="btn btn-sportimo login-form-button" >
                <div class="loader-label" [class.btn-active]="isSubmitting">
                  <span class="button-label" translate>Play</span>
                  <div class="fadeInLoader">
                    <span class="rotate dotted button-loader"></span>
                  </div>
                </div>
              </button>
            </div>
            <!-- <button [disabled]="isSubmiting" (click)="cancelAll()" class="btn btn-default">Cancel</button> -->
          </div>
        </form>

      </div>
    </div>
  </div>
</div>