
  // LOGIN-FORM
  .is-invalid{
    border: 1px solid red;
  }

  .icn-info-alt {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

  .login-form-info{
    font-weight: 700;
    font-size: 16px;
    width: 195px;
    margin: auto;
    padding: 45px 0;
  }

  .login-form-content{
    width: 219px;
    height: 290px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  .login-form-content .form-group{
    margin-bottom: 20px;
  }

  .login-form-content input{
    height: 40px;
    font-size:18px;
  }

  .login-form-buttons{
    width: 219px;
    margin: auto;
  }

  .login-form-button{
    width: 100%;
    height: 50px;
    font-size: 20px;
  }