<div class="subscribe-notice-container" [class.enabled]="!isLoggedIn || !isSubscribed" >
  <div class="col-12">
    <div class="row">
      <div class="col-5">
        <button (click)="subscribe()" class="btn btn-sportimo" translate>Subscribe</button>
      </div>
      <div class="col-7 text-white">
        <ul>
          <li *ngIf="!isLoggedIn"><strong translate>Already a member?</strong> <a href="" (click)="!!login()" translate>Log in here</a></li>
          <li><span translate>SubscribeNotice</span><a href="#" translate>Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>