<ul class="sidebar-menu">
    <!-- 1st level Menu -->
    <li *ngFor="let menuItem of menuItems" [class.disabled]="menuItem.authenticate && !isLoggedIn" [class.always-open]="menuItem.type === 'open-sub'" [class.active]="menuItem.type === 'open-sub'">

        <div class="sidebar-title" *ngIf="menuItem.headTitle">
            {{menuItem.headTitle}}
            <span class="badge badge-{{menuItem.badgeType}}" *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
        </div>
        <!-- Authenticate -->
        <!-- <a href="javascript:void(0)" class="sidebar-header" *ngIf="menuItem.type === 'authentication'">
                <i [class]="menuItem.icon"></i><span>Text:{{isLoggedIn}} <span class="badge badge-{{menuItem.badgeType}} ml-3" *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
                <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
            </a> -->
        <!-- <div *ngIf="!menuItem.authenticate || isLoggedIn"> -->
        <!-- Sub -->
        <a href="javascript:void(0)" class="sidebar-header" *ngIf="menuItem.type === 'sub'">
            <i [class]="menuItem.icon"></i>
            <span>
                <span [translate]="menuItem.title"></span>
                <span class="badge badge-{{menuItem.badgeType}} ml-3"
                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
            </span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <a href="javascript:void(0)" class="sidebar-header" *ngIf="menuItem.type === 'open-sub'">
            <i [class]="menuItem.icon"></i>
            <span>
                <span [translate]="menuItem.title"></span>
                <span class="badge badge-{{menuItem.badgeType}} ml-3"
                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
            </span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
          <!-- [routerLink]="!menuItem.type ? null : [menuItem.path]"  -->
        <!-- Link -->
        <a href="javascript:void(0)"
        (click)="showRoute(menuItem.path); closeSidebar()"
            routerLinkActive="active-option" class="sidebar-header" *ngIf="menuItem.type === 'link'">
            <i [class]="menuItem.icon"></i><span><span [translate]="menuItem.title"></span> <span
                    style="margin-left:10px" class="badge badge-{{menuItem.badgeType}} ml-3"
                    *ngIf="menuItem.badgeType"></span></span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
         <!-- TopPicks -->
         <a (click)="openTopPick(); closeSidebar()"
          class="sidebar-header" *ngIf="menuItem.type === 'toppicks'">
         <i [class]="menuItem.icon"></i><span><span [translate]="menuItem.title"></span> <span
                 style="margin-left:10px" class="badge badge-{{menuItem.badgeType}} ml-3"
                 *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
         <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
     </a>
        <!-- External Link -->
        <a href="{{ !menuItem.type ? null : menuItem.path }}" class="sidebar-header"
            *ngIf="menuItem.type === 'extLink'">
            <i [class]="menuItem.icon"></i><span><span [translate]="menuItem.title"></span> <span
                    class="badge badge-{{menuItem.badgeType}} ml-3"
                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- External Tab Link -->
        <a href="{{ !menuItem.type ? null : menuItem.path }}" target="_blank" class="sidebar-header"
            *ngIf="menuItem.type === 'extTabLink'">
            <i [class]="menuItem.icon"></i><span><span [translate]="menuItem.title"></span> <span
                    class="badge badge-{{menuItem.badgeType}} ml-3"
                    *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- 2nd Level Menu -->
        <ul class="sidebar-submenu" *ngIf="menuItem.children">
            <li *ngFor="let childrenItem of menuItem.children"  [class.disabled]="childrenItem.authenticate && !isLoggedIn">
                <!-- languageLink -->
                <a href="javascript:void(0)" (click)="switchLanguage(childrenItem.path)"
                    *ngIf="childrenItem.type === 'languageLink'">
                    <span [translate]="childrenItem.title"></span>
                    <span class="badge badge-{{childrenItem.badgeType}}"
                        *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
                    <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <!-- Sub -->
                <a href="javascript:void(0)" *ngIf="childrenItem.type === 'sub'">
                    <span [translate]="childrenItem.title"></span>
                    <span class="badge badge-{{childrenItem.badgeType}}"
                        *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
                    <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <!-- [routerLink]="!childrenItem.type ? null : [childrenItem.path]" -->
                <!-- Link -->
                <a  href="javascript:void(0)"  (click)="showRoute(childrenItem.path); closeSidebar()" [routerLink]="!childrenItem.type ? null : [childrenItem.path]"
                    *ngIf="childrenItem.type === 'link'" routerLinkActive="active-option"
                    [routerLinkActiveOptions]="{exact: true}">
                    <span [translate]="childrenItem.title"></span><span
                        style="margin-left:10px;border-radius: 10px;background-color: #ff0000"
                        class="badge badge-{{childrenItem.badgeType}}"
                        *ngIf="childrenItem.badgeType && this[childrenItem.badgeValue]>0">{{this[childrenItem.badgeValue]}}</span>
                    <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <!-- External Link -->
                <a href="{{ !childrenItem.type ? null : childrenItem.path }}" *ngIf="childrenItem.type === 'extLink'"
                    routerLinkActive="active-option" [routerLinkActiveOptions]="{exact: true}">
                    <span [translate]="childrenItem.title"></span><span class="badge badge-{{childrenItem.badgeType}}"
                        *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
                    <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <!-- External Tab Link -->
                <a href="{{ !childrenItem.type ? null : childrenItem.path }}" target="_blank"
                    *ngIf="childrenItem.type === 'extTabLink'">
                    <span [translate]="childrenItem.title"></span><span class="badge badge-{{childrenItem.badgeType}}"
                        *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
                    <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <a href="javascript:void(0)" (click)="openTerms(); closeSidebar()"
                *ngIf="childrenItem.type === 'terms'">
                <span [translate]="childrenItem.title"></span><span class="badge badge-{{childrenItem.badgeType}}"
                    *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span>
                <i class="fa fa-angle-right pull-right" *ngIf="childrenItem.children"></i>
            </a>
                <!-- 3rd Level Menu -->
                <ul class="sidebar-submenu" *ngIf="childrenItem.children">
                    <li *ngFor="let childrenSubItem of childrenItem.children">
                        <!-- Link -->
                        <a [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
                            *ngIf="childrenSubItem.type === 'link'" routerLinkActive="active-option"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="fa fa-angle-right"></i>{{childrenSubItem.title}} test: {{childrenSubItem.authenticate}} <span
                                class="badge badge-{{childrenSubItem.badgeType}}"
                                *ngIf="childrenSubItem.badgeType">{{childrenSubItem.badgeValue}}</span>
                        </a>
                        <!-- External Link -->
                        <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}"
                            *ngIf="childrenSubItem.type === 'extLink'" routerLinkActive="active-option"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i class="fa fa-angle-right"></i>{{childrenSubItem.title}} <span
                                class="badge badge-{{childrenSubItem.badgeType}}"
                                *ngIf="childrenSubItem.badgeType">{{childrenSubItem.badgeValue}}</span>
                        </a>
                        <!-- External Tab Link -->
                        <a href="{{ !childrenSubItem.type ? null : childrenSubItem.path }}" target="_blank"
                            *ngIf="childrenSubItem.type === 'extTabLink'">
                            <i class="fa fa-angle-right"></i>{{childrenSubItem.title}} <span
                                class="badge badge-{{childrenSubItem.badgeType}}"
                                *ngIf="childrenSubItem.badgeType">{{childrenSubItem.badgeValue}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- </div> -->
    </li>
    <li *ngIf="hasLanguage('en')">
        <a href="javascript:void(0)" class="" [class.active]="translate.currentLang=='en'" style="padding:7px 60px" (click)="switchLanguage('en')">
            <span translate>english</span>
        </a>
    </li>
    <li *ngIf="hasLanguage('fa')">
        <a href="javascript:void(0)" class="" [class.active]="translate.currentLang=='fa'" style="padding:7px 60px" (click)="switchLanguage('fa')">
            <span translate>farsi</span>
        </a>
    </li>
     <li *ngIf="hasLanguage('ru')">
        <a href="javascript:void(0)" class="" [class.active]="translate.currentLang=='ru'" style="padding:7px 60px" (click)="switchLanguage('ru')">
            <span translate>russian</span>
        </a>
    </li>
    <li *ngIf="hasLanguage('kk')">
        <a href="javascript:void(0)" class="" [class.active]="translate.currentLang=='kk'" style="padding:7px 60px" (click)="switchLanguage('kk')">
            <span translate>kazzach</span>
        </a>
    </li>
    <li *ngIf="hasLanguage('ar')">
        <a href="javascript:void(0)" class="" [class.active]="translate.currentLang=='ar'" style="padding:7px 60px" (click)="switchLanguage('ar')">
            <span translate>arabic</span>
        </a>
    </li>
    <li *ngIf="hasLanguage('fr')">
        <a href="javascript:void(0)" class="" [class.active]="translate.currentLang=='fr'" style="padding:7px 60px" (click)="switchLanguage('ar')">
            <span translate>french</span>
        </a>
    </li>
    <li *ngIf="isLoggedIn">
        <!-- Authenticate -->
        <a href="javascript:void(0)" class="sidebar-header" (click)="toggleUserStatus()">
            <i class="menu-icon icn-logout text-center"></i>
            <span *ngIf="isLoggedIn" translate>Logout</span>
            <!-- <span *ngIf="!isLoggedIn" translate>Login</span> -->
        </a>
    </li>
</ul>

<!-- <div class="sidebar-widget text-center">
    <div class="sidebar-widget-top">
        <h6 class="mb-2 fs-14">Need Help</h6>
        <i class="icon-bell"></i>
    </div>
    <div class="sidebar-widget-bottom p-20 m-20">
        <p>+1 234 567 899
            <br>help@yourdomain.com
            <br><a href="javascript:void(0)">Visit FAQ</a>
        </p>
    </div>
</div> -->