@import "~bootstrap/scss/bootstrap-grid.scss";
@import "src/variables.scss";

// App Conditions
@if $showContestInfoOnMatches == true {
  app-contest-info-header {
    display: block;
  }
} @else {
  app-contest-info-header {
    display: none;
  }
}

// .page-wrapper{
//   min-height: calc(100vh - 94px);
//   background-color: rgba(0,0,0,0.5);
// }

// @include media-breakpoint-down(sm) {
//   .page-wrapper{
//     @if $showContestInfoOnMatches == true{
//       min-height: calc(100vh - 169px);
//     }@else{
//       min-height: calc(100vh - 94px);
//     }
//   }
// }

.match-header-wrapper {
  height: 41px;
  overflow: hidden;
}
.match-header {
  height: 41px;
  background: rgba(0, 0, 0, 0.58);
  color: white;
  font-weight: bold;
}

.match-header .row {
  height: 41px;
  align-items: center;
}

.team-name {
  font-size: 12px;
  line-height: 15px;
  padding: 0;
}

.team-name img {
  height: 24px;
}

.score {
  height: auto;
  font-size: 20px;
}

.time {
  font-size: 9px;
  position: relative;
  top: -7px;
}

.mobile-app-navbar a {
  width: 25%;
}
