@import 'src/variables.scss';
@import "~bootstrap/scss/bootstrap-grid.scss";

.winners-scrollarea{
    height: calc(100vh - 144px);
    // background-color: #3F4856;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.winner-card{
    margin-bottom: 15px;
}

.winner-card-header{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 44px;
    background-image: linear-gradient(-180deg, #3F4856 0%, #28313D 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    // border-bottom: 2px inset rgba(0,0,0,0.4);
    border-bottom: 1px solid #000000;
}

.winner-card-header img{
    width:30px;
    height: 30px;
    margin-right: 15px;
}

.winner-card-body{
    border-top: 1px inset rgba(255,255,255,0.1);
    background-color:RGBA(22, 31, 43, 0.8);
    // height: 64px;
    padding: 13px;
}

.background{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.winner-prize{
    color: $theme-color;
    font-size: 14px;
    font-weight: 700;
}

.prize-info, .prize-date{
    color: #ffffff;
    font-size: 12px;
}

@include media-breakpoint-up(md) {
    .background{
      top: 50px;
    }
  }