<div class="row">
  <div class="main-pages-header">Sportimo Winners</div>
  <div class="main-pages-scrollarea container">
    <div class="winner-card">
      <div class="winner-card-header col-12">
        <img class="rounded-circle" src="assets/images/user/1.jpg" alt="#">
        <div>George Best</div>
      </div>
      <div class="winner-card-body">
        <div class="winner-prize">PS4 Pro</div>
        <div class="row">
          <div class="col-8 prize-info">1st Prize, UEFA Champions LEgaue</div>
          <div class="col-4 prize-date text-right">28/06/2018</div>
        </div>
      </div>
    </div>
  </div>
</div>