<div class="row">
  <div class="main-pages-header" translate>Sportimo Winners</div>
  <div class="main-pages-scrollarea container p-t-15">
    <div class="winner-card" *ngFor="let winner of winners" >
      <div class="winner-card-header col-12">
        <img *ngIf="winner.user?.picture" class="rounded-circle" src="{{winner.user?.picture}}" alt="#">
        <div>{{winner.user?.username}}</div>
      </div>
      <div class="winner-card-body">
        <div class="winner-prize">{{winner.prizeName[translate.currentLang]}}</div>
        <div class="row">
          <div class="col-8 prize-info"><span translate>Rank</span> {{winner.prizeRank}}, {{winner.contestName[translate.currentLang]}}</div>
          <div class="col-4 prize-date text-right">{{parseDate(winner.awardDate)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>