@import "src/variables.scss";



.main-tags-scrollarea {
    background-color: #00000066;
    padding: 5px 20px 20px;
}

.main-answer-scrollarea {
    background-color: #00000066;
    padding: 20px 20px;
}

.tags-container {
    // height: 150px;
    width: 100%;
    background-color: #3f4856;
    background-image: linear-gradient(-180deg, #3f4856 0%, #28313d 100%);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

.tags-root {
    margin: auto;
    display: flex;
    padding: 10px 20px 20px;
    max-width: 400px;
    justify-content: center;
    flex-wrap: wrap;
}

.answer-header{
    width: 100%;
    background-color: #3f4856;
    background-image: linear-gradient(-180deg, #3f4856 0%, #28313d 100%);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    margin: auto;
    display: flex;
    padding: 20px 20px;   
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
    font-weight: 700;
}

.tags-header {    
    color: #fff;
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 35px;
    padding: 10px;
    // font-weight: 700;
    font-size: 16px;
    // background-color: black;
}


.tag {
    color: $theme-color;
    border: 1px solid $theme-color;
    border-radius: 10px;
    background-color: #3f4856;
    background-image: linear-gradient(-180deg, #3f4856 0%, #28313d 100%);
    padding: 5px;

    min-width: 85px;
    text-align: center;
    height: 35px;
    font-weight: 700;
    line-height: 25px;
    margin: 5px 10px;
}

.tag.active {
    background-image: none;
    background-color: $theme-color;
    color: #3f4856;
}

.question {
    width: 100%;
    background-color: #3f4856;
    background-image: linear-gradient(-180deg, #3f4856 0%, #28313d 100%);
    margin-top: 10px;
    color: #fff;
    padding: 10px 20px;
    min-height: 45px;
    display: flex;

    align-items: center;
    justify-content: space-between;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}

.question-text {
    max-width: 90%;
}

.question-text-header {
    max-width: 90%;
    text-align: left;
    flex-grow: 1;
}

.answer-text{
    color: rgb(255, 255, 255);
    font-weight: 100;
}


.answer-text ::ng-deep ul{
    padding-left: 20px;
    list-style-type: disc !important;
}

.icn-arrow {
    width: 15px;
    height: 15px;    
    // filter: sepia(16%) saturate(3954%) hue-rotate(358deg) brightness(101%) contrast(106%);
}

.icn-arrow-flipped{
    width: 15px;
    height: 15px;
    transform: rotateZ(180deg);
}

.icn-arrow-down{
    width: 15px;
    height: 15px;
    transform: rotateZ(-90deg);
}



.direct_right{
    direction: rtl;
    text-align: right;
  }
  .direct_right::before {
    float: left;
  }
  .direct_left{
    direction: ltr;
    text-align: left;
    
  }
  
  .direct_left::before {
    float: right;
  }

@media (min-width: 768px) {
    .background {
      top: 50px;
    }
  }
