/* You can add global styles to this file, and also import other style files */
// @import './styles/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "./variables.scss";
@import "./inputrange.scss";

/*-----------------------------------------------------------------------------------

    Sportimo Styles

----------------------------------------------------------------------------------- */
.page-background-black{
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.sidebar-background {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1031; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}

.hidden{
  display:none !important;
}

.h-200 {
  height: 200px;
}

* a {
  color: $theme-color;
  text-decoration: underline;
  // font-weight: 700;
}

.isClickable {
  cursor: pointer;
}

.coin {
  display: inline-block;
  background-image: url("./assets/images/sportimo/coin.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: relative;
  top: 3px;
  // left: -2px;
}

.user-wallet{
  margin-right: 15px;
  font-size: 16px;
  font-weight: 700;
}

body {
  // color: rgba(255, 255, 255, 0.7);
  background-color: #303841;
  background: $theme-background-image no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loader-wrapper {
  background: #1d2029 !important;
  display: flex;
}

.lottie-container{
  max-width: 360px;
  margin-right: 16%;
  margin-bottom: 92px;
}
#lottie{
  width:100%;
  height:100%;
  display:none;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.btn {
  border-radius: 0;
}

.btn-sportimo {
  background: $theme-color;
  padding: 5px;
  font-family: Roboto;
  font-weight: 600;
}

body .page-wrapper .page-main-header {
  background: $theme-header-color;
  box-shadow: none; //0px 0px 1px 1px rgba(255, 255, 255, 0.7);
  z-index: 1033;
}

.sportimo-form input {
  text-align: center;
  border-radius: 0px;
  padding: 5px 10px;
  opacity: 0.65;
  background: #000000;
  -webkit-filter: none !important;
  filter: none !important;
  color: grey;
}

.navbar-fixed-top {
  top: 50px;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}

.nav{
    text-align: center;
    border-bottom: none;
}

.app-navbar {
  background: $theme-navbar-color;
  overflow: auto;
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 2;
  height: 50px;
  padding: 0;
  animation-name: flipInX;
  animation-duration: 0.5s;
}

.mobile-app-navbar {
  background: $theme-navbar-color;
  height: 51px;
  padding: 0;
  justify-content: space-around;
  animation-name: flipInX;
  animation-duration: 0.5s;
}

.app-navbar .app-nav-item {
  /* line-height: 40px; */
  padding: 0;
}

/* Navbar links */

.app-navbar a {
  float: left;
  text-align: center;
  padding: 12px 12px 8px 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

// .mobile-app-navbar a {
//   float: left;
//   text-align: center;
//   padding: 12px;
//   color: white;
//   text-decoration: none;
//   font-size: 15px;

// }

/* Navbar links on mouse-over */

.app-navbar a:hover,
.mobile-app-navbar a:hover {
  background-color: $theme-navbar-color;
}

.mobile-app-navbar a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 51px;
  flex-direction: column;
  font-size: 10px;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  width: 25%;
  padding: 0;
  border-bottom: 3px solid transparent;
}
.mobile-app-navbar [class^="icn-"] {
  width: 60px;
  height: 25px;
  margin-bottom: 3px;
}

.app-navbar [class^="icn-"] {
  width: 40px;
  height: 25px;
  margin-right: 10px;
}

.icn-arrow-out {
  background: url("~src/assets/images/sportimo/arrow-out.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}
.icn-arrow-in {
  background: url("~src/assets/images/sportimo/arrow-in.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-contests {
  background: url("~src/assets/images/sportimo/icon-contests.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-contests {
  background: url("~src/assets/images/sportimo/icon-contests.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-power {
  background: url("~src/assets/images/sportimo/icon-power.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-cards {
  background: url("~src/assets/images/sportimo/icon-cards.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-cards {
  background: url("~src/assets/images/sportimo/icon-cards.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-leaders {
  background: url("~src/assets/images/sportimo/icon-leaders.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-stopwatch {
  background: url("~src/assets/images/sportimo/icon-stopwatch.png") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-leaders {
  background: url("~src/assets/images/sportimo/icon-leaders.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-info {
  background: url("~src/assets/images/sportimo/icon-info.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-info {
  background: url("~src/assets/images/sportimo/icon-info.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-prize {
  background: url("~src/assets/images/sportimo/icon-prize.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-prize {
  background: url("~src/assets/images/sportimo/icon-prize.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-match {
  background: url("~src/assets/images/sportimo/icon-match.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-match {
  background: url("~src/assets/images/sportimo/icon-match.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-winners {
  background: url("~src/assets/images/sportimo/icon-winners.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-winners {
  background: url("~src/assets/images/sportimo/icon-winners.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-achievements {
  background: url("~src/assets/images/sportimo/icon-achievements.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-achievements {
  background: url("~src/assets/images/sportimo/icon-achievements.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-standings {
  background: url("~src/assets/images/sportimo/icon-standings.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-standings {
  background: url("~src/assets/images/sportimo/icon-standings.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-foul {
  background: url("~src/assets/images/sportimo/icon-foul.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-stats {
  background: url("~src/assets/images/sportimo/icon-stats.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-shot {
  background: url("~src/assets/images/sportimo/icon-shot.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-corner {
  background: url("~src/assets/images/sportimo/icon-corner.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-offside {
  background: url("~src/assets/images/sportimo/icon-offside.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-yellow {
  background: url("~src/assets/images/sportimo/icon-yellow.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-red {
  background: url("~src/assets/images/sportimo/icon-red.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-goal {
  background: url("~src/assets/images/sportimo/icon-goal.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}
.icn-penalty {
  background: url("~src/assets/images/sportimo/icon-penalty.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-substitution {
  background: url("~src/assets/images/sportimo/icon-substitution.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-result {
  background: url("~src/assets/images/sportimo/icon-result.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-yellows {
  background: url("~src/assets/images/sportimo/icon-yellows.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-offsides {
  background: url("~src/assets/images/sportimo/icon-offsides.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-corners {
  background: url("~src/assets/images/sportimo/icon-corners.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-defence {
  background: url("~src/assets/images/sportimo/icon-defence.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-shots {
  background: url("~src/assets/images/sportimo/icon-shots.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-user {
  background: url("~src/assets/images/sportimo/icon-user.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-gear {
  background: url("~src/assets/images/sportimo/icon-gear.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-logo {
  background: url("~src/assets/images/sportimo/icon-logo.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

/* Current/active navbar link */

.app-navbar a.active {
  border-bottom: solid 5px $theme-color;
  color: $theme-color !important;
  animation-name: flipInX;
  animation-duration: 0.5s;
}
.mobile-app-navbar a.active {
  /* background-color: #4CAF50; */
  border-bottom: solid 3px $theme-color;
  color: $theme-color !important;
  animation-name: flipInX;
  animation-duration: 0.5s;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
  .app-navbar a {
    float: none;
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .app-navbar {
    display: none;
  }
  .card-header {
    padding: 10px !important;
  }
  .matches-list {
    display: none;
  }

  .main-header-left {
    margin-left: 10px !important;
  }

  .main-header-left img {
    height: 35px !important;
  }
}
@include media-breakpoint-up(md) {
  .mobile-app-navbar {
    display: none;
  }
}

/**=====================
     01. Cards
==========================**/

.card {
  border-radius: 0;
  background: none;
}

.card-body {
  background: -moz-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: -webkit-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: -o-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: -ms-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: linear-gradient(to bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
}

.card-header {
  border-radius: 0;
  background: rgba(63, 72, 86, 0.4) !important;
  border-bottom: 0 !important;
}

.card-header:first-child {
  border-radius: 0;
}

/**=====================
     02. Contests
==========================**/
.contest-list-item {
  cursor: pointer;
}

.contest-item-container:hover {
  border: 5px solid transparent;
}

.contest-header {
  font-size: 15px;
  line-height: 15px;
  padding: 0;
  margin: 0 !important;
  color: #fff !important;
}

.contest-name {
  color: $theme-color;
  font-size: 15px;
  font-weight: bold;
}

// .contest-image{
//   // height: 150px;
// }

.contest-image img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.contest-details {
  // height: 150px;
  font-size: 12px;
  color: #ffffff;
}

.contest-details p {
  font-size: 12px;
  line-height: 14px;
}

.contest-details p:first-child {
  margin-top: 10px;
}

.contest-details p:last-child {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
  margin-left: -15px;
}
/**=====================
     03. GrandPrize
==========================**/
.grand-prize .card-body {
  padding: 0 !important;
  min-height: 200px;
}

.prize-wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

.prize-wrapper > * {
  padding: 10px;
}

.prize-header {
  color: #ffffff;
  flex: 1 1 100%;
}

.prize-header h4 {
  color: $theme-color;
  margin-bottom: 0;
}

.prize-image {
  flex: 1 1 auto;
}

.prize-details {
  color: #ffffff;
  flex: 1 1 0;
  font-size: 12px;
}

.counter-container {
  width: 150px;
  margin: auto;
  position: absolute;
  bottom: 15px;
  left: 10%;
}
.counter-header {
  background: rgba(0, 0, 0, 0.23);
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin-bottom: 2px;
}

.counter-body {
  background: rgba(0, 0, 0, 0.42);
  font-size: 19px;
  line-height: 30px;
  // font-family: Helvetica;
  // font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

@include media-breakpoint-up(md) {
  .prize-header {
    flex: 1;
  }
}

.btn-active .fadeInLoader{
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.btn-active .button-loader {
  display: block;
  
}

.btn-active .button-label {
  display: none;
}

.button-loader {
  display: none;
  height: 20px;
  width: 20px;
  // display: none;
  // position: absolute;
  right: 30px;
  margin: 0 auto;
  float: none;
  border-color: #000000;

}

/**=====================
     04. Side Bar
==========================**/
.page-wrapper .page-body-wrapper .page-sidebar {
  background: #212a34;
  box-shadow: -6px 0px 5px -3px rgba(0, 0, 0, 0.75);
}

.menu-icon{
  width: 25px;
  height: 16px;
  float: left;
  margin-top: 0 !important;
  margin-right: 15px !important;
}

.sidebar-header{
  background-color: #3b4655;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#404b58+1,36414f+9,374250+100 */
background: #404b58; /* Old browsers */
background: -moz-linear-gradient(top,  #404b58 1%, #36414f 9%, #374250 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #404b58 1%,#36414f 9%,#374250 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #404b58 1%,#36414f 9%,#374250 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404b58', endColorstr='#374250',GradientType=0 ); /* IE6-9 */
border-bottom: #1f252e 1px solid;
  padding: 0 20px;
}

/**=====================
     05. Modals
==========================**/
.modal-appear .modal-card{
  animation-name: modalSlideInUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes modalSlideInUp {
  from {
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity:1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes modalSlideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
