/* You can add global styles to this file, and also import other style files */
// @import './styles/css/bootstrap.min.css';
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "./variables.scss";
@import "./inputrange.scss";
@import "notyf.css";

@import "~@angular/cdk/overlay";
@include cdk-overlay();

/*-----------------------------------------------------------------------------------

    Sportimo Styles

----------------------------------------------------------------------------------- */
.body.modal-open {
  overflow: hidden;
}

@media (min-width: 992px) {
  .background-container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media only screen and (max-width: 991px) {
  .page-wrapper .page-body-wrapper .page-body {
    padding: 0 !important;
  }
}

.scorllable-area {
  width: 100%;
  height: calc(100vh - 93px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

.background {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-scroll-list {
  overflow-y: auto;
  height: calc(100vh - 326px);
  height: calc((var(--vh, 1vh) * 100) - 326px);
  -webkit-overflow-scrolling: touch;
}


@media only screen and (max-width: 575px) {
  .page-wrapper .page-body-wrapper .card-prize {
    margin-bottom: 15px;
  }
}

// @include media-breakpoint-down(sm) {
@media (max-width: 768px) {
  .scorllable-area {
    width: 100%;
    height: calc(100vh - 93px);
    height: calc((var(--vh, 1vh) * 100) - 93px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
  }


  .main-pages-scrollarea {
    height: calc((var(--vh, 1vh) * 100) - 144px);
  }

  .leaders-scrollable-group {
    height: calc(100vh - 218px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc((var(--vh, 1vh) * 100) - 218px);
    width: 100%;
  }
  .matches-list-scrollarea {
    overflow-y: auto;
    height: calc(100vh - 240px);
    height: calc((var(--vh, 1vh) * 100) - 240px);
    -webkit-overflow-scrolling: touch;
  }
  .contest-list-scrollable-area {
    width: 100%;
    height: calc(100vh - 369px);
    height: calc((var(--vh, 1vh) * 100) - 410px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
  }
  .matches-list-scrollarea {
    width: 100%;
    height: calc(100vh - 493px);
    height: calc((var(--vh, 1vh) * 100) - 493px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0;
  }


  // Standings
  .standings-scrollarea {
    width: 100%;
    height: calc(100vh - 180px);
    height: calc((var(--vh, 1vh) * 100) - 180px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 0;
  }

  .players-scrollarea {
    height: calc(100vh - 220px);
    height: calc((var(--vh, 1vh) * 100) - 220px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 0;
    // padding-top: 15px;
  }

  .card-scroll-list {
    overflow-y: auto;
    height: calc(100vh - 288px);
    height: calc((var(--vh, 1vh) * 100) - 288px);
    -webkit-overflow-scrolling: touch;
  }

  // @if $showContestInfoOnMatches == true {
  //   .card-scroll-list {
  //     overflow-y: auto;
  //     height: calc(100vh - 326px);
  //     height: calc((var(--vh, 1vh) * 100) - 326px);
  //     -webkit-overflow-scrolling: touch;
  //   }
  // }

  // .card-scroll-list {
  //   overflow-y: auto;
  //   height: calc(100vh - 239px);
  //   height: calc((var(--vh, 1vh) * 100) - 239px);
  //   -webkit-overflow-scrolling: touch;
  // }

  // @if $showContestInfoOnMatches == true {
  //   .card-scroll-list {
  //     overflow-y: auto;
  //     height: calc(100vh - 326px);
  //     height: calc((var(--vh, 1vh) * 100) - 326px);
  //     -webkit-overflow-scrolling: touch;
  //   }
  // }

  .scroll-area {
    overflow-y: scroll;
    height: calc(100vh - 221px);
    height: calc((var(--vh, 1vh) * 100) - 221px);
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }

  .leaders-scrollable-group {
    height: calc(100vh - 259px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: calc((var(--vh, 1vh) * 100) - 259px);
    width: 100%;
  }
}

.page-wrapper .page-main-header .main-header-left .logo-wrapper .app-logo {
  background-image: $theme-header-logo;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
}

// .page-wrapper{
//   max-width:1140px;
//   margin: auto;
// }

.mobile-toggle {
  color: $theme-header-text-color;
}

.modal-open .scorllable-area {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
}
.page-background-black {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  // overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.sidebar-background {
  // opacity: 1;
  // display: block; /* Hidden by default */
  visibility: visible;
  position: fixed; /* Stay in place */
  z-index: 1031; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  transition: 0.5s;
}

.hidden {
  // display: none !important;
  visibility: hidden;
  // opacity: 0 !important;
  background-color: rgba(0, 0, 0, 0);
}

.disabled {
  display: none !important;
  background-color: rgba(0, 0, 0, 0);
}

.h-200 {
  height: 200px;
}

* a {
  color: $theme-color;
  text-decoration: underline;
  // font-weight: 700;
}

.isClickable {
  cursor: pointer;
}

.coin {
  display: inline-block;
  background-image: url("./assets/images/sportimo/coin.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin: 0 5px;
  position: relative;
  top: 2px;
}

.user-wallet {
  margin: 0 5px 0 0;
  font-size: 16px;
  font-weight: 700;
  color: $theme-header-text-color;
}

.problem-info {
  display: flex;
  justify-content: center;
  padding: 5px;
  line-height: 15px;
  font-size: 11px;
  margin-top: 10px;
  color: $theme-color;
  font-style: italic;
}

body {
  // color: rgba(255, 255, 255, 0.7);
  background-color: #303841;
  background: $theme-background-image no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loader-wrapper {
  background: #1d2029 !important;
  display: flex;
}

.lottie-container {
  max-width: 360px;
  margin-right: 16%;
  margin-bottom: 92px;
}
#lottie {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.btn {
  border-radius: 0;
}

.btn-sportimo {
  background: $theme-color;
  background: linear-gradient(180deg, rgba(246, 230, 64, 1) 0%, rgba(255, 166, 2, 1) 100%);
  border: 0px;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: $theme-font;
  font-weight: 600;
  min-width: 74px;
}

.btn-light {
  border: 0;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  background-image: linear-gradient(-180deg, #eaeaea 0%, #cfcfcf 96%);
}

// .page-body-wrapper{
//   position: absolute;
// }

body .page-wrapper .page-main-header {
  background: $theme-header-color;
  box-shadow: none; //0px 0px 1px 1px rgba(255, 255, 255, 0.7);
  z-index: 1033;
  // position: absolute !important;
}

.sportimo-form input {
  text-align: center;
  border-radius: 0px;
  padding: 5px 10px;
  opacity: 0.65;
  background: #000000;
  -webkit-filter: none !important;
  filter: none !important;
  color: grey;
}

.navbar-fixed-top {
  top: 50px;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}

.nav {
  text-align: center;
  border-bottom: none;
}

.app-navbar {
  background: $theme-navbar-color;
  overflow: auto;
  width: 100%;
  position: inherit;
  top: 42px;
  left: 0;
  z-index: 2;
  height: 50px;
  padding: 0;
  animation-name: flipInX;
  animation-duration: 0.5s;
}

.mobile-app-navbar,
.universal-app-navbar {
  background: $theme-navbar-color;
  height: 51px;
  padding: 0;
  justify-content: space-around;
  // animation-name: flipInX;
  // animation-duration: 0.5s;
  // transform: translate(0, 50px);
}

.app-navbar .app-nav-item {
  /* line-height: 40px; */
  padding: 0;
}

/* Navbar links */

.app-navbar a {
  float: left;
  text-align: center;
  padding: 12px 30px 8px 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
}

// .mobile-app-navbar a {
//   float: left;
//   text-align: center;
//   padding: 12px;
//   color: white;
//   text-decoration: none;
//   font-size: 15px;

// }

/* Navbar links on mouse-over */

.app-navbar a:hover,
.mobile-app-navbar a:hover,
.universal-app-navbar a:hover,
.vertical-app-navbar a:hover {
  background-color: $theme-navbar-color-active;
}

.vertical-app-navbar {
  position: relative;
  width: 100%;
  flex-flow: column;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: space-between;
  // padding: .5rem 1rem;
}

.vertical-app-navbar a {
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row;
  font-size: 18px;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: 3px solid transparent;
}

.vertical-app-navbar .footer-icon {
  width: 40px;
  height: 30px;
  margin-right: 10px;
}

.vertical-app-navbar a.active {
  // border-bottom: solid 3px $theme-color;
  color: $theme-color;
  animation-name: flipInX;
  animation-duration: 0.5s;
  background-color: #22344d;
}

.mobile-app-navbar a,
.universal-app-navbar a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 51px;
  flex: 1;
  flex-direction: column;
  font-size: 10px;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  // width: 25%;
  padding: 0;
  border-bottom: 3px solid transparent;
}
.mobile-app-navbar [class^="icn-"],
.universal-app-navbar [class^="icn-"] {
  width: 60px;
  height: 25px;
  margin-bottom: 3px;
}
.vertical-app-navbar [class^="icn-"] {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.app-navbar .footer-icon {
  width: 40px;
  height: 25px;
  margin-right: 10px;
}

.app-navbar [class^="icn-"] {
  width: 40px;
  height: 25px;
  margin-right: 10px;
}

.icn-arrow-back {
  background: url("~src/assets/images/sportimo/arrow_back.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-arrow-out {
  background: url("~src/assets/images/sportimo/arrow-out.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}
.icn-arrow-in {
  background: url("~src/assets/images/sportimo/arrow-in.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-contests,
.icn-contest {
  background: url("~src/assets/images/sportimo/icon-contests-white.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-toppicks {
  background: url("~src/assets/images/sportimo/icon-toppicks.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-about {
  background: url("~src/assets/images/sportimo/icon-about.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-contests {
  background: url("~src/assets/images/sportimo/icon-contests.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .footer-icon {
  filter: $theme-icons-active;
}

.footer-icon {
  width: auto;
  height: 25px;
  filter: $theme-icons;
}

.icn-news {
  background: url("~src/assets/images/sportimo/icon-news.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-language {
  background: url("~src/assets/images/sportimo/icon-language.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-logout {
  background: url("~src/assets/images/sportimo/icon-logout.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-news {
  background: url("~src/assets/images/sportimo/icon-news.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-burger {
  background: url("~src/assets/images/sportimo/icon-burger.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-power {
  background: url("~src/assets/images/sportimo/icon-power.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-mail {
  background: url("~src/assets/images/sportimo/icon-mail.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-check {
  background: url("~src/assets/images/sportimo/icon-check.svg") no-repeat center center;
  display: inline-block;
  text-indent: -9999px;
  background-size: contain;
  width: 18px;
  height: 18px;
  /* padding: 0 13px; */
  margin: 0 5px;
  top: 2px;
  position: relative;
}

.icn-cards {
  background: url("~src/assets/images/sportimo/icon-cards.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-cards {
  background: url("~src/assets/images/sportimo/icon-cards.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-mycards {
  background: url("~src/assets/images/sportimo/icon-cardsstack.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-mycards {
  background: url("~src/assets/images/sportimo/icon-cardsstack.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-leaders {
  background: url("~src/assets/images/sportimo/icon-leaders.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-stopwatch {
  background: url("~src/assets/images/sportimo/icon-stopwatch.png") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-leaders {
  background: url("~src/assets/images/sportimo/icon-leaders.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-info {
  background: url("~src/assets/images/sportimo/icon-info.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.powers-info {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 8px;
  filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(109%) contrast(102%);
}

.active .icn-info {
  background: url("~src/assets/images/sportimo/icon-info.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-info-alt {
  background: url("~src/assets/images/sportimo/icon-info.alt.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-prize {
  background: url("~src/assets/images/sportimo/icon-prize.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-prize {
  background: url("~src/assets/images/sportimo/icon-prize.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-match {
  background: url("~src/assets/images/sportimo/icon-match.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-match {
  background: url("~src/assets/images/sportimo/icon-match.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-winners {
  background: url("~src/assets/images/sportimo/icon-winners-white.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-winners {
  background: url("~src/assets/images/sportimo/icon-winners.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-achievements {
  background: url("~src/assets/images/sportimo/icon-achievements.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-achievements {
  background: url("~src/assets/images/sportimo/icon-achievements.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-standings {
  background: url("~src/assets/images/sportimo/icon-standings-white.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.active .icn-standings {
  background: url("~src/assets/images/sportimo/icon-standings.active.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-foul {
  background: url("~src/assets/images/sportimo/icon-foul.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-stats {
  background: url("~src/assets/images/sportimo/icon-stats.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-shot {
  background: url("~src/assets/images/sportimo/icon-shot.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-corner {
  background: url("~src/assets/images/sportimo/icon-corner.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-stack {
  background: url("~src/assets/images/sportimo/icon-card-profile.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-offside {
  background: url("~src/assets/images/sportimo/icon-offside.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-yellow {
  background: url("~src/assets/images/sportimo/icon-yellow.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-red {
  background: url("~src/assets/images/sportimo/icon-red.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-goal {
  background: url("~src/assets/images/sportimo/icon-goal.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}
.icn-penalty {
  background: url("~src/assets/images/sportimo/icon-penalty.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-substitution {
  background: url("~src/assets/images/sportimo/icon-substitution.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-result {
  background: url("~src/assets/images/sportimo/icon-result.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-yellows {
  background: url("~src/assets/images/sportimo/icon-yellows.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-offsides {
  background: url("~src/assets/images/sportimo/icon-offsides.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-corners {
  background: url("~src/assets/images/sportimo/icon-corners.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-defence {
  background: url("~src/assets/images/sportimo/icon-defence.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-shots {
  background: url("~src/assets/images/sportimo/icon-shots.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-user {
  background: url("~src/assets/images/sportimo/icon-user.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-gear {
  background: url("~src/assets/images/sportimo/icon-gear.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-logo {
  background: url("~src/assets/images/sportimo/icon-logo.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

.icn-cross {
  background: url("~src/assets/images/sportimo/icon-cross.svg") no-repeat center center;
  display: block;
  text-indent: -9999px;
  background-size: contain;
}

/* Current/active navbar link */

.terms-footer {
  height: 51px;
  padding: 0;
  background-color: $theme-header-color;
}

.terms-footer a {
  display: flex;
  align-items: center;
  height: 51px;
  flex-direction: row;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  color: white !important;
  text-decoration: none;
  padding: 10px 15px;
  border-bottom: 3px solid transparent;
  margin-right: 40px;
}

.terms-footer a:last-child {
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 0;
}

.black-to-white {
  -webkit-filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(109%) contrast(102%) !important;
  filter: invert(86%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(109%) contrast(102%) !important;
}

.terms-footer .footer-icon {
  width: 30px;
  height: 25px;
  margin-right: 5px;
  filter: none;
}

.app-navbar a.active {
  border-bottom: solid 5px $theme-color;
  color: $theme-color;
  animation-name: flipInX;
  animation-duration: 0.5s;
}

.mobile-app-navbar a.active,
.universal-app-navbar a.active {
  border-bottom: solid 3px $theme-color;
  color: $theme-color;
  animation-name: flipInX;
  animation-duration: 0.5s;
  background-color: #22344d;
}

.popover {
  background-color: #ffc107;
  font-weight: bold;
  text-align: center;
  z-index: auto;
}

.popover > .arrow:after {
  border-top-color: #ffc107;
  border-bottom-color: #ffc107;
}


.match-contest-name {
  color: white;
  background-color: #21255dba;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 15px;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
  .app-navbar a {
    float: none;
    display: block;
  }

  .cdk-global-overlay-wrapper {
    transform: scale(0.8);
  }
}

@media (max-width: 991px) {
  .terms-footer {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  .app-navbar {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .app-navbar {
    display: none;
  }
  .card-header {
    padding: 10px !important;
  }
  .matches-list {
    display: none;
  }

  .main-header-left {
    margin-left: 10px !important;
  }

  .main-header-left img {
    height: 35px !important;
  }
}
@include media-breakpoint-up(lg) {
  .mobile-app-navbar {
    display: none;
  }

  // .scorllable-area{
  //   width: 100%;
  //   height: calc(100vh - 100px);
  //   height: calc((var(--vh, 1vh) * 100) - 100px);
  //   overflow: auto;
  //   -webkit-overflow-scrolling: touch;
  //   margin: 0;
  // }

  ::ng-deep .cdk-overlay-pane {
    width: 85%;
  }
}

/**=====================
     01. Cards
==========================**/

.card {
  border-radius: 0;
  background: none;
}

.card-body {
  background: -moz-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: -webkit-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: -o-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: -ms-linear-gradient(bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
  background: linear-gradient(to bottom, rgba(63, 72, 86, 0.81) 0%, rgba(40, 49, 61, 0.81) 100%);
}

.card-header {
  border-radius: 0;
  background: rgba(63, 72, 86, 0.4) !important;
  border-bottom: 0 !important;
}

.card-header:first-child {
  border-radius: 0;
}

/**=====================
     02. Main
==========================**/

.main-pages-header {
  height: 50px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid $theme-color;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
}

// .main-pages-scrollarea {
//   height: calc(100vh - 144px);
//   overflow: auto;
//   -webkit-overflow-scrolling: touch;
//   margin: 0 0;
//   // padding-top: 15px;
// }
.main-pages-scrollarea {
  width: 100%;
  height: calc(100vh - 140px);
  height: calc((var(--vh, 1vh) * 100) - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0 0;
}

@media (min-width: 992px){
  .main-pages-scrollarea {
  height: calc(100vh - 200px);
  height: calc((var(--vh, 1vh) * 100) - 200px);
  }
}

/**=====================
     02. Contests
==========================**/

.contest-pages-scrollarea {
  overflow-y: auto;
  height: calc(100vh - 180px);
  height: calc((var(--vh, 1vh) * 100) - 180px);
  -webkit-overflow-scrolling: touch;
}

.contest-list-item {
  cursor: pointer;
}

// .contest-item-container:hover {
//   border: 5px solid transparent;
// }

.contest-header {
  font-size: 15px;
  line-height: 15px;
  padding: 0;
  margin: 0 !important;
  color: #fff !important;
  display: flex;
}

.contest-name {
  color: $theme-color;
  font-size: 14px;
  font-weight: bold;
}

.contest-duration {
  align-self: center;
}

// .contest-image{
//   // height: 150px;
// }

.contest-image img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.contest-details {
  // height: 150px;
  font-size: 12px;
  color: #ffffff;
}

.contest-details p {
  font-size: 13px;
  line-height: 16px;
}

.contest-details p:first-child {
  // margin-top: 10px;
  // min-height: 125px;
  padding-bottom: 15px;
  padding-top: 15px;
  // display: table-cell;
  // vertical-align: middle;
}

.contest-details p:last-child {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: left;
  margin-left: -15px;
  padding-left: 15px;
}
/**=====================
     03. GrandPrize
==========================**/
.grand-prize .card-body {
  // padding: 0 !important;
  height: 230px;
  //  transition: height 0.3s;
}

.prize-wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  // padding: 0 15px;
}

.prize-wrapper > * {
  padding: 10px;
}

// .grand-prize-header {
//   color: #ffffff;
//   flex: 1 1 100%;
// }

// .grand-prize-header h4 {
//   color: #000;
//   margin-bottom: 0;
// }

.prize-image {
  flex: 1 1 auto;
}

.prize-details {
  color: #000;
  flex: 1 1 0;
  font-size: 12px;
  max-width: 150px;
  padding: 10px;
}

.counter-container {
  width: 150px;
  margin: auto;
  position: absolute;
  bottom: 15px;
  left: 10%;
}
.counter-header {
  background: rgba(0, 0, 0, 0.23);
  font-size: 10px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin-bottom: 2px;
}

.counter-body {
  background: rgba(0, 0, 0, 0.42);
  font-size: 19px;
  line-height: 30px;
  // font-family: Helvetica;
  // font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

// @include media-breakpoint-up(md) {
//   .grand-prize-header {
//     flex: 1;
//   }
// }

.btn-active .fadeInLoader {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.btn-active .button-loader {
  display: block;
}

.btn-active .button-label {
  display: none;
}

.button-loader {
  display: none;
  height: 20px;
  width: 20px;
  // display: none;
  // position: absolute;
  right: 30px;
  margin: 0 auto;
  float: none;
  border-color: #000000;
}

/**=====================
     04. Side Bar
==========================**/
.page-wrapper .page-body-wrapper .page-sidebar {
  background: #212a34;
  // box-shadow: -6px 0px 5px -3px rgba(0, 0, 0, 0.75);

  // width: 0%;
  // top: 42px;
  // height: calc(100vh - 42px);
  z-index: 9000;
}

.menu-icon {
  width: 25px;
  height: 16px;
  float: left;
  margin-top: 0 !important;
  margin-right: 15px !important;
}

.sidebar-header {
  background-color: #3b4655;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#404b58+1,36414f+9,374250+100 */
  background: #404b58; /* Old browsers */
  background: -moz-linear-gradient(top, #404b58 1%, #36414f 9%, #374250 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #404b58 1%, #36414f 9%, #374250 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #404b58 1%,
    #36414f 9%,
    #374250 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404b58', endColorstr='#374250',GradientType=0 ); /* IE6-9 */
  border-bottom: #1f252e 1px solid;
  padding: 0 20px;
}

/**=====================
     05. Modals
==========================**/
.modal-appear .modal-card {
  animation-name: modalSlideInUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.modal-appear.modal-card {
  animation-name: modalSlideInUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes modalSlideInUp {
  from {
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes modalSlideInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

.modal-background {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1035; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-card {
  margin-top: 21px;
  width: 327px;
  z-index: 1032; /* Sit on top */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-card-header {
  width: 100%;
  height: 35px;
  color: #ffffff;
  background: #1c242f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.modal-card-body {
  width: 100%;
  // height: 550px;
  padding: 15px 10px;
  color: #ffffff;
  background-image: linear-gradient(-180deg, #3f4856 0%, #28313d 100%);
}

.modal-title {
  margin-left: 15px;
}
.modal-exit {
  margin-right: 15px;
}

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./assets/fonts/iran-sans/IRANSans.ttf");
}

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("./assets/fonts/iran-sans/IRANSans_Bold.ttf");
}

@include media-breakpoint-up(lg) {
  .modal-card {
    width: 460px;
  }
}

/* cyrillic-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: url('./assets/fonts/roboto/Roboto-Regular.ttf');
//   // src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
//   // unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }

// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: url('./assets/fonts/roboto/Roboto-Bold.ttf');
//   // src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
//   // unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }
// /* cyrillic-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
//   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
// }
// /* cyrillic */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
// /* greek-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
//   unicode-range: U+1F00-1FFF;
// }
// /* greek */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
//   unicode-range: U+0370-03FF;
// }
// /* vietnamese */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
//   unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
// }
// /* latin-ext */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
//   unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

/* width */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffffa9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
  }
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1040;
}

::ng-deep .cdk-overlay-pane {
  width: 80%;
}

// Leaderboards
.leaders-table {
  display: table;
  width: 100%;
}
.leaders-header {
  display: table-row;
  height: 36px;
  background-color: rgba(35, 50, 74, 0.8);
  color: #ffffff;
  font-weight: 700;
}

.leaders-row {
  display: table-row;
  height: 42px;
  color: #ffffff;
}

.cell-border {
  border-bottom: 1px solid #6c7684;
}

.leaders-user {
  background-color: #ffffff;
  color: #000000;
}

.leaders-cell {
  display: table-cell;
  vertical-align: middle;
}

.leaders-player-cell {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.leaders-player-cell img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.leaders-scrollable-group {
  height: calc(100vh - 259px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc((var(--vh, 1vh) * 100) - 259px);
  width: 100%;
}

.leaders-table-user {
  display: none;
  width: 100%;
  position: absolute;
  width: 100%;
}

.leaders-table-user-up {
  top: 164px;
  display: table;
}

.leaders-table-user-down {
  bottom: 0;
  display: table;
}
