.beeline {
  $theme-color: #ffc300;
  $theme-gradient: linear-gradient(180deg, rgba(246, 230, 64, 1) 0%, rgba(255, 166, 2, 1) 100%);

  .active .footer-icon {
    filter: invert(0%) sepia(0%) saturate(7%) hue-rotate(147deg) brightness(110%) contrast(100%);
  }

  .grand-prize-header {
    color: #000 !important;
  }

  .grand-prize-user-details {
    color: #000 !important;
  }

  .mobile-app-navbar,
  .universal-app-navbar {
    background-color: #000;
  }

  .app-navbar {
    background-color: #000;
  }

  .app-navbar a.active {
    border-bottom: solid 5px #000;
    color: #000;
    background: $theme-gradient;
  }

  .mobile-app-navbar a.active,
  .universal-app-navbar a.active {
    border-bottom: solid 3px #000;
    color: #000;
    background: $theme-gradient;
  }

  .leaders-user {
    background: $theme-gradient;
  }

  .card .card-header {
    background-color: black !important;
  }

  .page-main-header {
    background: black !important;
  }
}

.green {
  $green-color: #316400;
  $green-color2: #56b000;
  $theme-color: #316400;
  $theme-gradient: linear-gradient(180deg, #316400 0%, #668a3f 100%);

  .active .footer-icon {
    filter: invert(70%) sepia(45%) saturate(477%) hue-rotate(43deg) brightness(91%) contrast(86%);
  }

  .grand-prize-header {
    color: #000 !important;
  }

  .grand-prize-user-details {
    color: #000 !important;
  }

  .mobile-app-navbar,
  .universal-app-navbar {
    background-color: $green-color2;
  }

  .app-navbar {
    background-color: $green-color2;
  }

  .navbar.fixed-bottom.terms-footer {
    background-color: $green-color2;
  }

  .app-navbar a.active {
    border-bottom: solid 5px $green-color;
    color: white;
    background: $theme-gradient;
  }

  .mobile-app-navbar a.active,
  .universal-app-navbar a.active {
    border-bottom: solid 3px $green-color;
    color: white;
    background: $theme-color;
  }

  .vertical-app-navbar a.active {
    color: #90bc53;
  }

  .leaders-user {
    background: $theme-gradient;
  }

  .card .card-header {
    background-color: black !important;
  }

  .page-main-header {
    background: white !important;
    color: $green-color;
  }

  .icn-burger {
    // filter: invert(32%) sepia(25%) saturate(561%) hue-rotate(113deg) brightness(40%) contrast(90%);
    filter: invert(53%) sepia(21%) saturate(991%) hue-rotate(46deg) brightness(88%) contrast(87%);
  }

  .user-wallet {
    color: $theme-color;
  }

  .btn-sportimo {
    background: $theme-gradient;
    color: white;
  }
}

.tribute {
  $green-color: #942c8a;
  $green-color2: #942c8a;
  $theme-color: #942c8a;
  $theme-gradient: linear-gradient(180deg, #942c8a 0%, #942c8a 100%);

  .match-details {
    background-color:  #942c8ad4 !important;

  }

  .mobile-app-navbar,
  .universal-app-navbar {
    background-color: $green-color2;
  }

  .app-navbar {
    background-color: $green-color2;
  }

  .navbar.fixed-bottom.terms-footer {
    background-color: $green-color2;
  }

  .page-main-header {
    background: white !important;
    // color: $green-color;
  }

  .icn-burger {
    filter: invert(32%) sepia(25%) saturate(561%) hue-rotate(113deg) brightness(40%) contrast(90%);
    // filter: invert(53%) sepia(21%) saturate(991%) hue-rotate(46deg) brightness(88%) contrast(87%);
  }

  .user-wallet {
    color: $theme-color;
  }

  .btn-sportimo {
    background: $theme-gradient !important;
    color: white;
  }

  .grand-prize-user-details .user-chances {
    color: white !important;
  }
}

.kcell{
  $theme-color1: #63429a;
  $theme-color2: #dd2977;
  $theme-gradient1: linear-gradient(90deg,  #64429a 0%, #dd2977 100%);
  $theme-gradient2: linear-gradient(90deg,  #64429ad2 0%, #dd2977d2 100%);

  .app-navbar {
    background: $theme-gradient2;
  }

  .mobile-app-navbar,
  .universal-app-navbar {
    background:  $theme-gradient2;
  }


  .navbar.fixed-bottom.terms-footer {
    background:  $theme-gradient1;
  }

  .page-main-header {
    background: $theme-gradient2 !important;
    // color: $green-color;
  }

  .landing-card{
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .slide-prize-shape{
    background:  $theme-gradient1 !important;
  }

  .btn-sportimo {
    opacity: 1;
    background: $theme-gradient1;
    color: white;
  }

  .contest-name,  .grand-prize-user-details{
    color: white !important;
  }

}

.korek{
  $theme-color1: #043659;
  $theme-color2: #0057b7;
  $theme-color3: #122547;
  $theme-gradient1: linear-gradient(90deg,  #64429a 0%, #dd2977 100%);
  $theme-gradient2: linear-gradient(90deg,  #64429ad2 0%, #dd2977d2 100%);

  .app-navbar {
    background: $theme-color2;
  }

  .mobile-app-navbar,
  .universal-app-navbar {
    background:  $theme-color2;
  }

  .mobile-app-navbar a.active, .universal-app-navbar a.active{
    background:   $theme-color3;
  }

  .navbar.fixed-bottom.terms-footer {
    background:  $theme-color1;
  }

  .desktop-nav-bar{
    background-color: $theme-color2 !important;
  }

  .contest-details p{
    text-align: left;
  }

  .page-main-header {
    background: $theme-color1 !important;
    // color: $green-color;
  }

  .card-header{
    background: black !important;
  }

  .landing-card{
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .slide-prize-shape{
    background:  $theme-color1 !important;
  }

  .btn-sportimo {
    opacity: 1;
    background: #0057b7;
    color: white;
  }

  .contest-name,  .grand-prize-user-details{
    color: white !important;
  }

}
