$theme-color: #ffc300;
$theme-icons-active: invert(73%) sepia(76%) saturate(452%) hue-rotate(347deg) brightness(99%) contrast(104%);
$theme-icons: invert(86%) sepia(100%) saturate(0%) hue-rotate(275deg) brightness(109%) contrast(102%);

// Theme
$theme-header-color: RGBA(10, 28, 45, 1.00);
$theme-header-logo: url("~src/assets/images/sportimo/icon-logo.svg");
$theme-header-text-color: white;

$theme-navbar-color: rgba(56, 72, 85, 1);//;rgba(34, 52, 77, 0.9);
$theme-navbar-color-active: rgba(34, 52, 77, 1);
$theme-background-image: url("~src/assets/images/sportimo/background2.jpg");
$landing-background-image: url("~src/assets/images/sportimo/landing-background.jpg");
$theme-font: IranSans;

//  CARDS
$card-side-lost: transparent;
$card-side-won:  #00d600;
$card-side-active: #009bff;
$card-lost-color:red;
$card-won-color:#007600;
$card-active-color:#005a93;

// GrandPrize Boxes
$grandPrizeTopRowMinHeight: 90px;
$grandPrizeBottomRowMinHeight: 55px;
$grandPrizeLeftColumnMinWidth: 50%;
$grandPrizeRightColumnMinWidth: 47%;

// CONDITIONALS
/** ************************************************************************
 ** Should we diplay a contest header in match pages
 ** ************************************************************************/
$showContestInfoOnMatches: true;
/** ************************************************************************
 ** Should card timers have offset
 ** ************************************************************************/
$cardTimersHaveLeftMargin: false;