$theme-color: #ffc300;
// Pabetoop
// $theme-header-color: #ffc300; // rgba(0, 0, 0, 0.7);
// $theme-header-logo: url("~src/assets/images/sportimo/logo.jpg");
// $theme-header-text-color: #333333;
// Sportimo
$theme-header-color: RGBA(10, 28, 45, 1.00);
$theme-header-logo: url("~src/assets/images/sportimo/icon-logo.svg");
$theme-header-text-color: white;

$theme-navbar-color: rgba(34, 52, 77, 0.9);
$theme-background-image: url("~src/assets/images/sportimo/background2.jpg");

//  CARDS
$card-side-lost: transparent;
$card-side-won: #009bff;
$card-side-active: #00d600;
$card-lost-color:#666a6d;
$card-won-color:#005a93;
$card-active-color:#007600;

// GrandPrize Boxes
$grandPrizeTopRowMinHeight: 90px;
$grandPrizeBottomRowMinHeight: 55px;
$grandPrizeLeftColumnMinWidth: 54%;

// CONDITIONALS
/** ************************************************************************
 ** Should we diplay a contest header in match pages
 ** ************************************************************************/
$showContestInfoOnMatches: true;
/** ************************************************************************
 ** Should card timers have offset
 ** ************************************************************************/
$cardTimersHaveLeftMargin: false;