.scroll-area{
    overflow-y: auto;
    height: calc(100vh - 221px);
    height: calc((var(--vh, 1vh) * 100) - 221px);
    -webkit-overflow-scrolling: touch;
}


.timeline {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.timeline .card-body {
  background-color: rgba(0, 0, 0, 0.22);
  background-image: none;
//   display: flex;
//     flex-direction: column;
}

.event {
  color: #fff;
  height: 59px;
  background: rgba(0, 0, 0, 0.36);
  margin-bottom: 10px;
}

.event.substitution{
    height: 100px;
}
// .section{
//     display: flex;
//     flex-direction: column;
// }

.sub-icon{
    width: 10px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.event .row{
    height: 59px;
    align-items: center;
}


.event.substitution .row{
    height:100px;
}

.event.event-border{
    border: 1px solid;
}

.time{
    width: 35px;
    text-align: center;
    font-size: 18px;
    margin-right: 15px;
}

.icon{
    width: 40px;
    text-align: right;

}

.icon div{
    width: 45px;
    height: 25px;
}

.team-logo{
    width:25px;
}

.type{
    height: 20px;
    margin-bottom: 5px !important;
    font-size: 16px;
    font-weight: bold;
}

.player{
    font-size: 14px;
    // animation-name: slideInRight;
    // animation-duration: 0.3s;
}

.team-logo img{
    max-height: 27px;
}
