<div class="modal-card" [class.vip]="contestMatch?.vipText" *ngIf="!onDemandResponse">
  <!-- (click)="preventDefault($event)" -->
  <div class="modal-card-header">
    <div class="modal-title" translate>Join Match</div>
    <div class="user-balance">
      <span translate>Balance</span> {{user?.wallet}}<i class="coin"></i>
    </div>
    <div (click)="close()" class="modal-exit pull-right isClickable">X</div>
  </div>
  <div class="modal-card-body text-center">

    <div class="match-item-main">
      <!-- Home Team -->
      <div class="team-block">
        <div class="kit text-center"><img
            src="{{contestMatch?.match.home_team.logo || './assets/images/sportimo/default-kit.png'}}" alt=""></div>
        <div class="team-name text-left">{{contestMatch?.match.home_team.name[translate.currentLang]}} </div>
      </div>
      <div class="match-status-block">
        <!-- <div *ngIf="contestMatch?.match.state > 0" class="match-score text-center">
          {{parseNumbers(contestMatch?.match.home_score)}} - {{parseNumbers(contestMatch?.match.away_score)}}</div> -->
        <div class="match-type text-center"><strong>-</strong></div>

        <!-- <div *ngIf="contestMatch?.match.state >0 " class="match-status">{{getStatusText(contestMatch?.match.state)}}</div> -->
      </div>
      <!-- Away Team -->
      <div class="team-block">
        <div class="kit text-center"><img
            src="{{contestMatch?.match.away_team.logo || './assets/images/sportimo/default-kit.png'}}" alt=""></div>
        <div class="team-name  text-right">{{contestMatch?.match.away_team.name[translate.currentLang]}}</div>
      </div>
    </div>
    <div class="match-details">
      <div class="match-time">{{parseDate(contestMatch?.match.start)}}</div>
      <div *ngIf="contestMatch?.vipText" class="match-text-vip"><span
          translate>vipMatchAwards</span><br>{{contestMatch?.vipText[translate.currentLang]}}</div>
      <div class="match-text" translate [translateParams]="{value: contestMatch?.subscriptionPrice}">joinMatchInfo</div>
      <div *ngIf="contestMatch?.subscriptionPrice > user?.wallet && hasInApp" class="match-text-nocoins" translate>joinMatchNoCoins</div>
      <div *ngIf="contestMatch?.subscriptionPrice > user?.wallet && !hasInApp" class="match-text-nocoins" translate>joinMatchNoCoinsNoInApp</div>
      
    </div>
    <!-- <div class="join-modal-header" translate>Join Contest</div>
    <div class="join-modal-contest">{{contestDetails?.titleText[translate.currentLang]}}</div>
    <div class="contest-image" style="background-repeat: no-repeat;
      background-size: cover;
      background-position: center; height: 200px; display:flex "
      [ngStyle]="{'background-image': 'url(' + (contestDetails?.promoDetailImage || './assets/images/contest-bg.png') + ')'}">
      <img src="{{contestDetails?.promoImage}}" style="max-height: 150px" alt="">
    </div>
    <div *ngIf="contestDetails?.subscriptionPrice > user?.wallet" class="problem-info">
      <div class="icn-info-alt"></div> <span translate>You have insufficient coins to join</span>
    </div> -->


    <div class="bottom-buttons">
      <ul class="finalize">
        <!-- <li>
          <div class="user-balance">
          <span translate>Balance</span> {{user?.wallet}}<i class="coin"></i>
        </div>
        </li> -->
        <li>
          <!-- Flow: User has enough coins to Join -->
          <button *ngIf="contestMatch?.subscriptionPrice <= user?.wallet" [disabled]="isJoinRequesting"
            (click)="requestJoin()" class="btn btn-sportimo">
            <div class="loader-label" [class.btn-active]="isJoinRequesting">
              <span class="button-label">
                <div *ngIf="contestMatch?.subscriptionPrice && contestMatch?.subscriptionPrice>0"><span
                    translate>Join</span> {{parseNumbers(contestMatch?.subscriptionPrice)}}<i class="coin"></i>
                </div>
                <div *ngIf="!contestMatch?.subscriptionPrice || contestMatch?.subscriptionPrice==0"><span translate>Join For Free</span></div>
              </span>
              <div class="fadeInLoader">
                <span class="rotate dotted button-loader"></span>
              </div>
            </div>
          </button>
          <!-- Flow: User has not enough coins to Join and operator permits In-App purchases -->
          <button *ngIf="contestMatch?.subscriptionPrice > user.wallet && defaultProduct && hasInApp" [disabled]="isJoinRequesting"
            (click)="getCoins()" class="btn btn-sportimo">
            <div class="loader-label" [class.btn-active]="isJoinRequesting">
              <span class="button-label"> <span translate>Get</span>
                {{parseNumbers(defaultProduct.payout)}}<i _ngcontent-vii-c2="" class="coin"></i></span>
              <div class="fadeInLoader">
                <span class="rotate dotted button-loader"></span>
              </div>
            </div>
          </button>
          <!-- Flow: User has not enough coins to Join and operator does not permit In-App purchases -->
          <button *ngIf="contestMatch?.subscriptionPrice > user.wallet && !hasInApp" [disabled]="true"
            (click)="getCoins()" class="btn btn-sportimo">
            <div class="loader-label" [class.btn-active]="isJoinRequesting">
              <span class="button-label"> <span translate>Join</span></span>
              <div class="fadeInLoader">
                <span class="rotate dotted button-loader"></span>
              </div>
            </div>
          </button>
        </li>
        <li>
          <button [disabled]="isJoinRequesting" (click)="close()" class="btn btn-default" translate>Cancel</button>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="modal-card" [class.vip]="contestMatch?.vipText" *ngIf="onDemandResponse">
  <!-- (click)="preventDefault($event)" -->
  <div class="modal-card-header">
    <div class="modal-title"></div>
    <div (click)="close()" class="modal-exit pull-right isClickable">X</div>
  </div>
  <div class="modal-card-body text-center">
    <div class="demand-response">
      <img src="/assets/images/sportimo/coins.png" alt="" class="demand-response-img">
      <div class="demand-response-text" translate>onDemandResponseText</div>
    </div>
  </div>
</div>