<div class="card" style="margin-bottom: 0"  >
  <div class="card-body">
    <div class="row">
      <div (click)="gotoContest()" class="col font-weight-bold text-white isClickable">
          {{contestDetails?.titleText["en"]}} 
        <!-- <br> {{contestDetails?.startFromDate | date:"dd/MM"}} - {{contestDetails?.endToDate | date:"dd/MM"}} -->
      </div>
      <div class="col">
        <button class="btn btn-sportimo col-12">Join 70 <i class="coin"></i></button>
      </div>
    </div>
    <div class="sportimo-divider"></div>
    <div class="contest-info-container">
      <div class="contest-info-row">
        <div class="contest-info-cell font-weight-bold">Matches</div>
        <div class="contest-info-cell font-weight-bold">Participations</div>
        <div class="contest-info-cell font-weight-bold">Winners</div>
        <div class="contest-info-cell font-weight-bold">Duration</div>
      </div>
      <div class="contest-info-row">
        <div class="contest-info-cell">{{contestDetails?.matches}}</div>
        <div class="contest-info-cell">{{contestDetails?.participations}}</div>
        <div class="contest-info-cell">{{contestDetails?.winners}}</div>
        <div class="contest-info-cell">{{contestDetails?.startFromDate | date:"dd/MM/yy"}}-{{contestDetails?.endToDate | date:"dd/MM/yy"}}</div>
      </div>
    </div>
  </div>
</div>