<div class="card" style="margin-bottom: 0"  >
  <div class="card-body">
    <div class="row">
      <div (click)="gotoContest()" class="col font-weight-bold text-white isClickable">
          {{contestDetails?.titleText["en"]}} 
        <!-- <br> {{contestDetails?.startFromDate | date:"dd/MM"}} - {{contestDetails?.endToDate | date:"dd/MM"}} -->
      </div>
      <div class="col" style="min-height:33px; line-height: 33px">
        <button *ngIf="!contestDetails?.isSubscribed || !isLoggedIn" class="btn btn-sportimo col-12">Join {{contestDetails?.subscriptionPrice}} <i class="coin"></i></button>
        <div *ngIf="contestDetails?.isSubscribed && isLoggedIn" class="text-right text-white"> Your chances: {{contestDetails?.participations || 0}}</div>
      </div>
    </div>
    <div class="sportimo-divider"></div>
    <div class="contest-info-container">
      <div class="contest-info-row">
        <div class="contest-info-cell font-weight-bold">Matches</div>
        <div class="contest-info-cell font-weight-bold">Participations</div>
        <div class="contest-info-cell font-weight-bold">Winners</div>
        <div class="contest-info-cell font-weight-bold">Duration</div>
      </div>
      <div class="contest-info-row">
        <div class="contest-info-cell">{{contestDetails?.matches}}</div>
        <div class="contest-info-cell">{{contestDetails?.participations}}</div>
        <div class="contest-info-cell">{{contestDetails?.winners}}</div>
        <div class="contest-info-cell">{{contestDetails?.startFromDate | date:"dd/MM/yy"}}-{{contestDetails?.endToDate | date:"dd/MM/yy"}}</div>
      </div>
    </div>
  </div>
</div>