<div (click)="playCardModal = true" class="playcard">
  <div class="icon">
    <div [ngClass]= "Utils.getIconBySprite(data.image.sprite)"></div>
  </div>
  <div class="name">
    {{data.title['en']}}
  </div>
</div>

<div *ngIf="playCardModal" >
  <div class="modal-playcard" (click)="playCardModal=false"></div>
  <div class="modal-playcard-center">
    <div class="bottom-drawer" [class.active]="optionSelected">
      <div class="top-buttons">
        <p class="title">Activate powerups:</p>
        <div class="power-container">
          <div class="col-6 powerup isClickable" (click)="data.isDoublePoints=!data.isDoublePoints" [class.active-power]="data.isDoublePoints">
            <span>Double Points</span>
            <div class="power-button double-points">
              <span style="margin:auto">x2</span>
            </div>
            <span>Get 280 pts</span>
          </div>
          <div class="col-6 powerup isClickable" (click)="data.isDoubleTime=!data.isDoubleTime" [class.active-power]="data.isDoubleTime">
            <span>Double Time</span>
            <div class="power-button double-time" >
              <div class="double-time-icon">
                <div class="power-icon icn-stopwatch"></div>
              </div>
            </div>
            <span>Increase time range to 10'</span>
          </div>
        </div>
      </div>
      <div class="bottom-buttons">
        <ul class="options" *ngIf="!optionSelected" [@fadein]>
          <li (click)="optionSelected = !optionSelected" *ngFor="let option of data.options">
            <p><strong>{{getFormatedOption(option.text['en'])}}</strong></p>
            <p><strong>{{option.startPoints}}</strong> pts</p>
          </li>          
        </ul>
        <ul class="finalize" *ngIf="optionSelected" [@fadein]>
            <li>
              <button class="btn btn-sportimo">Play</button>
            </li>
            <li>
                <button (click)="cancelAll()" class="btn btn-default">Cancel</button>
            </li>
          </ul>
      </div>
    </div>
    <div class="top-drawer" [class.active]="optionSelected">
      <div class="playcard-event">
        <div class="playcard-header">
          <div class="event-icon">
            <div class="icon" [ngClass]= "Utils.getIconBySprite(data.image.sprite)"></div>
          </div>
          <div class="name"> {{data.title['en']}}</div>
        </div>
        <div class="info">{{data.text['en']}}, starting from:</div>
        <div class="time">
          <div class="event-time-icon">
            <div class="icon icn-stopwatch"></div>
          </div>
          <div class="time-text">{{SelectedTime}}</div>
        </div>
        <div *ngIf="optionSelected" [@fadein]>
          <div>By:</div>
          <div class="team-name">Real Madrid</div>
          <div><span class="points">140</span> <span class="pts"> pts</span></div>
        </div>
        <div *ngIf="!optionSelected" [@fadein] class="time-slider">
          <input type="range" id="cowbell" name="cowbell" (input)="valueChanged($event.target.value)" [attr.min]="getMinimumTime()"
            [attr.max]="90" [attr.value]=1>
            <span class="slider-guide">Drag slider to set the time that the card will be activated.</span>
        </div>
      </div>
    </div>

  </div>
</div>