<div class="prizes-container container">
  <div class="prize-container" *ngFor="let prize of prizes" (click)="selectedPrize = prize">
    <div class="prize-header">
      Prize {{prize?.position.from}}
    </div>
    <div class="prize-body">
      <div class="prize-image" style="background-repeat: no-repeat;
      background-size: cover;
      background-position: center;" [ngStyle]="{'background-image': 'url('+ prize?.prize.picture +')'}"></div>
      <div class="prize-text">
        <div class="prize-text-title">{{prize?.prize.name[translate.currentLang]}}</div>
        <div class="prize-text-body">{{strippedPrizedText(prize?.prize.text[this.translate.currentLang])}}</div>
      </div>
    </div>
  </div>
</div>


<div class="modal-background" (click)="cancel()" [class.hidden]="!selectedPrize" [class.modal-appear]="selectedPrize">
    <div class="modal-card" >
      <div class="modal-card-header">
        <div class="modal-title"> {{contestDetails?.titleText[translate.currentLang]}} </div>
        <div (click)="cancel()" class="modal-exit pull-right">X</div>
      </div>
      <div class="modal-card-body text-left">
        <div class="selected-prize-rank">Prize {{selectedPrize?.position.from}}</div>
          <div class="prize-image" style="background-repeat: no-repeat;
          background-size: cover;
          background-position: center;" [ngStyle]="{'background-image': 'url('+ selectedPrize?.prize.picture +')'}"></div>
          <div class="selected-prize-title">{{selectedPrize?.prize.name[translate.currentLang]}}</div>
          <div class="selected-prize-body formated-text" [innerHTML]="selectedPrize?.prize.text[translate.currentLang]"></div>
      </div>
      
    </div>
  </div>

