<div class="container-fluid p-0" [@fadein]="true">
  <!-- prize?true:false -->
  <div class="starter-main">
    <div class="col-sm-12 p-0">
      <div class="card-prize grand-prize" style="width: 100%">
        <div class="card-body"
          [ngStyle]="{background: 'url(' + (prizeDetailImage) + ') 50% 0% / cover'}">
          <div *ngIf="prize" class="prize-wrapper isClickable" (click)="showPrizeDetails(prize._id)">
            <!-- Title -->
            <div class="grand-prize-header">
              <!-- <h4 translate>Grand prize</h4> -->
              <span style="max-width: 150px;" [innerHTML]="prize.titleText[translate.currentLang] | safeHTML"></span>
              <!-- Text Details -->
            <div class="grand-prize-text max-size formated-text">
              <div [innerHTML]="prize.infoText[translate.currentLang] | safeHTML" ></div>
            </div>
            </div>
            <!-- Image -->
            <div class="grand-prize-image" [ngStyle]="{'background-image': 'url(' + prize.promoImage + ')'}"></div>            
            <!-- Counter -->
            <div class="grand-prize-counter">
               <!-- Text Details -->
              <div class="grand-prize-text min-size formated-text">
                <div [innerHTML]="prize.infoText[translate.currentLang]" ></div>
              </div>
              <div class="counter-container-new">
                <div class="counter-header col-sm-12">
                  <div class="row">
                    <div class="col p-0" translate>Days</div>
                    <div class="col p-0" translate>Hours</div>
                    <div class="col p-0" translate>Minutes</div>
                  </div>
                </div>
                <div class="counter-body col-sm-12">
                  <div class="row">
                    <div class="col p-0">
                      {{countdown.days<10?parseNumbers("0"+countdown.days):parseNumbers(countdown.days)}}
                    </div>
                    <div class="col p-0">
                      {{countdown.hours<10?parseNumbers("0"+countdown.hours):parseNumbers(countdown.hours)}}
                    </div>
                    <div class="col p-0">
                      {{countdown.minutes<10?parseNumbers("0"+countdown.minutes):parseNumbers(countdown.minutes)}}
                    </div>
                  </div>
                </div>
                <div class="grand-prize-user-details">
                  <div *ngIf="prize?.prizeDistribution =='draw'" class="user-chances col">
                    <strong translate>Your chances:</strong> 
                    <span> {{parseNumbers(userChances) || parseNumbers(0)}} </span>
                  </div>
                  <div *ngIf="prize?.prizeDistribution !='draw'" class="user-chances col"> 
                    <strong translate>Your points:</strong> 
                    <span> {{parseNumbers(userChances) || parseNumbers(0)}} </span>
                  </div>
                  <!-- <div class="details-link" translate>View Details</div> -->
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>